<td>
  <p><%= model.good_type_i18n %></p>
  <p><%= model.good_name %></p>
</td>
<td><%= model.number %></td>
<td><%= model.produce_plan&.title %></td>
<td>
  <p><%= model.status_i18n %></p>
  <p class="has-text-grey is-size-7"><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></p>
</td>
<td>
  <%= link_to({ controller: 'factory/admin/production_items', production_id: model.good_id }, target: '_blank') do %>
    <span><%= t('factory.admin.production_items.index.title') %></span>
  <% end if model.good_type == 'Factory::Production' %>
  <%= link_to({ controller: 'boxes', box_specification_id: model.good_id }, target: '_blank') do %>
    <span><%= t('ship.admin.boxes.index.title') %></span>
  <% end if model.good_type == 'Ship::BoxHost' %>
</td>
