<th>
  <p><%= Trade::Rent.human_attribute_name(:start_at) %></p>
  <p><%= Trade::Rent.human_attribute_name(:finish_at) %></p>
</th>
<th><%= Trade::Rent.human_attribute_name(:estimate_finish_at) %></th>
<th><%= Trade::Rent.human_attribute_name(:duration) %></th>
<th><%= Trade::Rent.human_attribute_name(:user_id) %></th>
<th><%= Trade::Rent.human_attribute_name(:member_id) %></th>
<th><%= Trade::Rent.human_attribute_name(:member_organ_id) %></th>
