<td><%= model.start_at %></td>
<td><%= model.finish_at %></td>
<td><%= model.estimate_finish_at %></td>
<td><%= model.duration %></td>
<td><%= model.user_id %></td>
<td><%= model.member_id %></td>
<td><%= model.member_organ_id %></td>
<td><%= model.item_id %></td>
