<td>
  <p><time data-controller="time"><%= model.rent_start_at&.to_fs(:iso8601) %></time></p>
  <p><time data-controller="time"><%= model.rent_finish_at&.to_fs(:iso8601) %></time></p>
</td>
<td><time data-controller="time"><%= model.item.rent_estimate_finish_at&.to_fs(:iso8601) %></time></td>
<td>
<% if model.rent_finish_at.blank? %>
  <time data-controller="count-up" data-count-up-time-value="<%= model.rent_start_at&.to_fs(:iso8601) %>" class="has-text-mono"><%= exact_distance_time(model.rent_start_at, Time.current) %></time>
<% else %>
  <%= model.duration.inspect %>
<% end %>
</td>
<td>
  <%= link_to({ action: 'promote', id: model.id }, data: { turbo_frame: 'modal' }) do %>
    <i class="fa-light fa-seal-question"></i>
  <% end %>
  <%= link_to({ action: 'job', id: model.id }, data: { turbo_frame: 'modal' }, class: 'pl-1') do %>
    <%= model.amount.to_money.format(html_wrap: true).html_safe %>
  <% end %>
</td>
