<td><%= model.car_id %></td>
<td><%= model.line_id %></td>
<td><%= model.driver_id %></td>
<td><%= model.load_on %></td>
<td><%= model.state %></td>
<td><%= model.left_at %></td>
<td><%= model.arrived_at %></td>
