<td><%= model.line.name %></td>
<td>
  <p><%= model.car.number %></p>
  <p><%= model.driver.name %></p>
</td>
<td><%= model.load_on %></td>
<td><%= model.state %></td>
<td><%= model.left_at %></td>
<td><%= model.arrived_at %></td>
