<th><%= Ship::Shipment.human_attribute_name(:line_id) %></th>
<th>
  <p><%= Ship::Shipment.human_attribute_name(:car_id) %></p>
  <p><%= Ship::Shipment.human_attribute_name(:driver_id) %></p>
</th>
<th><%= Ship::Shipment.human_attribute_name(:load_on) %></th>
<th><%= Ship::Shipment.human_attribute_name(:state) %></th>
<th>
  <p><%= Ship::Shipment.human_attribute_name(:left_at) %></p>
  <p><%= Ship::Shipment.human_attribute_name(:arrived_at) %></p>
</th>
