<tr id="tr_<%= model.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <%= yield %>
  <td>
    <div data-show-target="item" style="visibility: hidden">
      <%= link_to({ action: 'stations', id: model.id }, aria: { label: t('ship.admin.shipments.stations.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-light fa-location-dot"></i>
      <% end %>
      <%= link_to({ controller: 'shipment_items', shipment_id: model.id }, aria: { label: t('ship.admin.shipment_items.index.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-light fa-list-check"></i>
      <% end %>
      <%= link_to({ action: 'leave', id: model.id }, data: { turbo_frame: 'modal' }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-regular fa-play"></i>
        <span class="pl-1"><%= t('ship.admin.shipments.leave.title') %></span>
      <% end %>
      <%= link_to({ action: 'arrive', id: model.id }, data: { turbo_frame: 'modal' }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-regular fa-stop"></i>
        <span class="pl-1"><%= t('ship.admin.shipments.arrive.title') %></span>
      <% end if model.state == 'left' %>
      <%= link_to({ action: 'show', id: model.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.show') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-light fa-circle-info"></i>
      <% end %>
      <%= link_to({ action: 'edit', id: model.id }, data: { turbo_frame: 'modal', turbo_scroll: true }, aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-light fa-pencil"></i>
      <% end if model.organ_id == current_organ.id %>
      <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy') }, class: 'button is-small is-rounded is-light', form: { data: { turbo_confirm: t('.confirm'), turbo_scroll: true } }) do %>
        <i class="fa-light fa-trash"></i>
      <% end if model.organ_id == current_organ.id %>
    </div>
  </td>
</tr>
