<div>
  <dt><%= BoxSell.human_attribute_name(:user_id) %></dt>
  <dd><%= @box_sell.user_id %></dd>
</div>
<div>
  <dt><%= BoxSell.human_attribute_name(:member_id) %></dt>
  <dd><%= @box_sell.member_id %></dd>
</div>
<div>
  <dt><%= BoxSell.human_attribute_name(:member_organ_id) %></dt>
  <dd><%= @box_sell.member_organ_id %></dd>
</div>
<div>
  <dt><%= BoxSell.human_attribute_name(:price) %></dt>
  <dd><%= @box_sell.price %></dd>
</div>
<div>
  <dt><%= BoxSell.human_attribute_name(:amount) %></dt>
  <dd><%= @box_sell.amount %></dd>
</div>
<div>
  <dt><%= BoxSell.human_attribute_name(:done_amount) %></dt>
  <dd><%= @box_sell.done_amount %></dd>
</div>
<div>
  <dt><%= BoxSell.human_attribute_name(:rest_amount) %></dt>
  <dd><%= @box_sell.rest_amount %></dd>
</div>
