<td>
  <i class="fa-light fa-bars fa-fw has-text-grey is-drawable"></i>
  <span><%= model.station.name %></span>
</td>
<td><%= model.station.organ.name %></td>
<td><%= model.station.poiname %></td>
<td><%= model.station.poiaddress %></td>
<td><%= model.station.cityname %></td>
