<th><%= Ship::BoxSpecification.human_attribute_name(:name) %></th>
<th>
  <span><%= Ship::BoxSpecification.human_attribute_name(:width) %></span>
  <span>x</span>
  <span><%= Ship::BoxSpecification.human_attribute_name(:length) %></span>
  <span>x</span>
  <span><%= Ship::BoxSpecification.human_attribute_name(:height) %></span>
</th>
<th><%= Ship::BoxSpecification.human_attribute_name(:boxes_count) %></th>
