<div class="weui-form-preview">
  <div class="weui-form-preview__bd">
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Ship::Box.human_attribute_name(:code) %></label>
      <div class="weui-form-preview__value" data-controller="clipboard">
        <span data-clipboard-target="source"><%= @box.code %></span>
        <span class="weui-badge weui-badge__default" data-action="click->clipboard#copy">复制</span>
        <div data-clipboard-target="toast" class="weui-toast__wrap">
          <div class="weui-mask_transparent"></div>
          <div class="weui-toast">
            <i class="weui-icon-success-no-circle weui-icon_toast"></i>
            <p class="weui-toast__content">复制成功</p>
          </div>
        </div>
      </div>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Ship::Box.human_attribute_name(:box_specification_id) %></label>
      <span class="weui-form-preview__value">
        <span><%= @box.box_specification.measure %></span>
        <span class="tag"><%= @box.box_specification.name %></span>
      </span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Ship::Box.human_attribute_name(:status) %></label>
      <span class="weui-form-preview__value"><%= @box.status_i18n %></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Ship::Box.human_attribute_name(:organ_id) %></label>
      <span class="weui-form-preview__value color-danger"><%= @box.organ&.name %></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Ship::BoxHold.human_attribute_name(:owned_amount) %></label>
      <span class="weui-form-preview__value <%= @box_hold.owned_amount > 0 ? 'color-success' : 'color-danger' %>"><%= @box_hold.owned_amount %></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Ship::BoxHold.human_attribute_name(:rented_amount) %></label>
      <span class="weui-form-preview__value <%= @box_hold.rented_amount > 0 ? 'color-success' : 'color-danger' %>"><%= @box_hold.rented_amount %></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Ship::BoxHold.human_attribute_name(:boxes_count) %></label>
      <span class="weui-form-preview__value"><%= @box_hold.boxes_count %></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Ship::BoxHold.human_attribute_name(:total_amount) %></label>
      <span class="weui-form-preview__value <%= @box_hold.total_amount > 0 ? 'color-success' : 'color-danger' %>"><%= @box_hold.total_amount %></span>
    </div>
    <% if @box.current_rent && @box.held_user_id == current_user.id %>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label"><%= Trade::Rent.human_attribute_name(:start_at) %></label>
        <span class="weui-form-preview__value color-success">
          <time data-controller="time"><%= @box.current_rent.start_at.to_fs(:iso8601) %></time>
        </span>
      </div>
    <% elsif @box.current_rent %>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label"></label>
        <span class="weui-form-preview__value">该物流箱已租出</span>
      </div>
    <% end %>
  </div>
</div>
