<div data-controller="scan" data-scan-params-value="<%= { organ_id: @box.organ_id }.to_json %>">
  <div class="buttons are-large is-centered">
    <%= form_with model: @order, url: { controller: 'trade/my/orders', action: 'add' }, class: 'button_to' do |f| %>
      <%= f.fields :items do |ef| %>
        <%= ef.hidden_field :good_type, value: @box.class_name %>
        <%= ef.hidden_field :good_id, value: @box.id %>
        <%= ef.hidden_field :aim, value: 'rent' %>
      <% end %>
      <%= button_tag class: 'button is-primary' do %>
        <span>开始租用</span>
      <% end %>
    <% end if false %>
    <%= button_to({ action: 'start' }, class: 'button is-warning') do %>
      <span><%= t('ship.my.boxes.start.title') %></span>
    <% end if @box_hold.total_amount > 0 && !@box.current_rent %>
  </div>
</div>
