<th><%= Ship::Box.human_attribute_name(:code) %></th>
<th><%= Ship::Box.human_attribute_name(:box_specification_id) %></th>
<th><%= Ship::Box.human_attribute_name(:status) %></th>
<td>
  <p><%= Ship::Box.human_attribute_name(:held_organ_id) %></p>
  <p class="has-text-info"><%= Ship::Box.human_attribute_name(:owned_organ_id) %></p>
</td>
<th><%= Ship::Box.human_attribute_name(:rented) %></th>
<th><%= Ship::Box.human_attribute_name(:created_at) %></th>
