<td><%= check_box_tag 'xx', model.id, false, id: nil %></td>
<td>
  <p><%= model.code %></p>
</td>
<td><%= model.status_i18n %></td>
<td>
  <p><%= model.held_organ&.name %></p>
  <p class="has-text-info"><%= model.owned_organ&.name %></p>
</td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :rentable, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
<% if model.rented %>
  <i class="fa-solid fa-check has-text-success"></i>
<% else %>
  <i class="fa-solid fa-times has-text-danger"></i>
<% end %>
</td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
