<td><%= check_box_tag 'xx', model.id, false, id: nil %></td>
<td>
  <span><%= model.code %></span>
  <span class="tag"><%= model.status_i18n %></span>
</td>
<td>
  <% if model.rentable %>
    <i class="fa-solid fa-check has-text-success"></i>
  <% else %>
    <i class="fa-solid fa-times has-text-danger"></i>
  <% end %>
  <% if model.rented %>
    <i class="fa-solid fa-check has-text-success"></i>
  <% else %>
    <i class="fa-solid fa-times has-text-danger"></i>
  <% end %>
</td>
<td>
  <p><%= model.held_organ&.name %></p>
  <p class="has-text-info"><%= model.held_user&.name %></p>
</td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
