<th>
  <div data-controller="print" data-print-name-value="xx" data-print-url-value="<%= url_for(action: 'batch_pdf', only_path: false) %>" class="is-flex is-align-items-center">
    <%= check_box_tag 'xxd', 'xx', false, id: nil, data: { action: 'print#toggleAll' } %>
    <button data-action="print#batchPrint" class="button is-small is-dark ml-2">
      <i class="fa-regular fa-hand-holding-usd"></i>
      <span class="pl-1"><%= t('ship.admin.boxes.batch_pdf.title') %></span>
    </button>
  </div>
</th>
<th>
  <p><%= Ship::Box.human_attribute_name(:code) %></p>
</th>
<th>
  <p><%= Ship::Box.human_attribute_name(:rentable) %></p>
  <p><%= Ship::Box.human_attribute_name(:rented) %></p>
</th>
<td>
  <p><%= Ship::Box.human_attribute_name(:held_organ_id) %></p>
  <p class="has-text-info"><%= Ship::Box.human_attribute_name(:held_user_id) %></p>
</td>
<th><%= Ship::Box.human_attribute_name(:created_at) %></th>
