<tr>
  <td><%= Trade::Item.human_attribute_name(:good_id) %></td>
  <td><%= @item.good_name %></td>
</tr>
<tr>
  <td><%= Trade::Item.human_attribute_name(:number) %></td>
  <td><%= @item.number %></td>
</tr>
<tr>
  <td><%= Trade::Item.human_attribute_name(:status) %></td>
  <td><%= @item.status_i18n %></td>
</tr>
