<div>
  <dt><%= Trade::Item.human_attribute_name(:good_id) %></dt>
  <dd><%= @item.good_name %></dd>
</div>
<div>
  <dt><%= Trade::Item.human_attribute_name(:number) %></dt>
  <dd><%= @item.number %></dd>
</div>
<div>
  <dt><%= Trade::Item.human_attribute_name(:status) %></dt>
  <dd><%= @item.status_i18n %></dd>
</div>
