<tr>
  <td class="has-text-right"><%= Ship::Item.human_attribute_name(:package_name) %></td>
  <td><%= @item.package_name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::Item.human_attribute_name(:package_number) %></td>
  <td><%= @item.package_number %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::Item.human_attribute_name(:package_kind) %></td>
  <td><%= @item.package_kind %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::Item.human_attribute_name(:weight) %></td>
  <td><%= @item.weight %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::Item.human_attribute_name(:weight_unit) %></td>
  <td><%= @item.weight_unit %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::Item.human_attribute_name(:volume) %></td>
  <td><%= @item.volume %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::Item.human_attribute_name(:volume_unit) %></td>
  <td><%= @item.volume_unit %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::Item.human_attribute_name(:price) %></td>
  <td><%= @item.price %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::Item.human_attribute_name(:settle_ratio) %></td>
  <td><%= @item.settle_ratio %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::Item.human_attribute_name(:settle_kind) %></td>
  <td><%= @item.settle_kind %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::Item.human_attribute_name(:settle_period) %></td>
  <td><%= @item.settle_period %></td>
</tr>
