<td><%= model.number %></td>
<td><%= image_tag model.registration, class: 'image is-64x64' if model.registration.attached? %></td>
<td><%= model.brand %></td>
<td><%= model.detail %></td>
<td><%= model.kind_i18n %></td>
