<div class="weui-panel" data-controller="empty">
  <div class="weui-panel__hd">
    <i class="fa-solid fa-truck fa-fw"></i>
    <span>系统设置</span>
  </div>
  <div class="weui-panel__bd">
    <div class="weui-cells" data-empty-target="content">
      <%= link_to({ controller: 'ship/admin/cars' }, class: 'weui-cell weui-cell_active weui-cell_access') do %>
        <div class="weui-cell__bd"><%= t('ship.admin.cars.index.title') %></div>
        <div class="weui-cell__ft"></div>
      <% end %>
      <%= link_to({ controller: 'ship/admin/drivers' }, class: 'weui-cell weui-cell_active weui-cell_access') do %>
        <div class="weui-cell__bd"><%= t('ship.admin.drivers.index.title') %></div>
        <div class="weui-cell__ft"></div>
      <% end %>
      <%= link_to({ controller: 'ship/admin/stations' }, class: 'weui-cell weui-cell_active weui-cell_access') do %>
        <div class="weui-cell__bd"><%= t('ship.admin.stations.index.title') %></div>
        <div class="weui-cell__ft"></div>
      <% end %>
    </div>
  </div>
</div>
