<div class="weui-panel" data-controller="empty">
  <div class="weui-panel__hd">
    <i class="fa-solid fa-truck fa-fw"></i>
    <span><%= t('ship.admin.title') %></span>
  </div>
  <div class="weui-panel__bd">
    <div class="weui-cells" data-empty-target="content">
      <%= link_to({ controller: 'ship/admin/addresses' }, class: 'weui-cell weui-cell_active weui-cell_access') do %>
        <div class="weui-cell__bd"><%= t('ship.admin.addresses.index.title') %></div>
        <div class="weui-cell__ft"></div>
      <% end %>
      <%= link_to({ controller: 'ship/admin/trade_items' }, class: 'weui-cell weui-cell_active weui-cell_access') do %>
        <div class="weui-cell__bd"><%= t('ship.admin.trade_items.index.title') %></div>
        <div class="weui-cell__ft"></div>
      <% end %>
      <%= link_to({ controller: 'ship/admin/packages' }, class: 'weui-cell weui-cell_active weui-cell_access') do %>
        <div class="weui-cell__bd"><%= t('ship.admin.packages.index.title') %></div>
        <div class="weui-cell__ft"></div>
      <% end %>
    </div>
  </div>
</div>

<div class="<%= active_helper(modules: ['ship/admin', 'ship/into', 'ship/buy'], active: 'menu ex-accordion is-active', item: 'menu ex-accordion is-active') %>" data-controller="menu empty">
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-solid fa-fw fa-gears"></i>
    <span>系统设置</span>
    <i class="fa-solid dropdown"></i>
  </a>
  <div class="menu-list" data-empty-target="content">
    <%= link_to t('ship.admin.cars.index.title'), { controller: 'ship/admin/cars' }, class: active_helper(controllers: 'cars', active: 'is-active') %>
    <%= link_to t('ship.admin.drivers.index.title'), { controller: 'ship/admin/drivers' }, class: active_helper(controllers: 'drivers', active: 'is-active') %>
    <%= link_to t('ship.admin.stations.index.title'), { controller: 'ship/admin/stations' }, class: active_helper(controllers: 'stations', active: 'is-active') %>
  </div>
</div>
