<div class="weui-panel" data-controller="empty">
  <div class="weui-panel__hd">
    <i class="fa-solid fa-fw fa-box-circle-check"></i>
    <span><%= t('ship.in.title') %></span>
  </div>
  <div class="weui-panel__bd">
    <div class="weui-cells" data-empty-target="content">
      <%= link_to({ controller: 'ship/in/boxes' }, class: 'weui-cell weui-cell_active weui-cell_access') do %>
        <div class="media-content"><%= t('ship.in.boxes.index.title') %></div>
        <div class="media-right"></div>
      <% end %>
      <%= link_to({ controller: 'ship/in/box_specifications' }, class: 'weui-cell weui-cell_active weui-cell_access') do %>
        <div class="media-content"><%= t('ship.in.box_specifications.index.title') %></div>
        <div class="weui-cell__ft"></div>
      <% end %>
      <%= link_to({ controller: 'ship/in/orders' }, class: 'weui-cell weui-cell_active weui-cell_access') do %>
        <div class="media-content"><%= t('ship.in.orders.index.title') %></div>
        <div class="weui-cell__ft"></div>
      <% end %>
    </div>
  </div>
</div>
