<tr id="tr_<%= location.position.to_i %>">
  <td class="has-text-right"><%= location.position_text %></td>
  <td>
    <%= f.fields :locations, model: location, child_index: location.position do |ef| %>
      <%= ef.hidden_field :poiname, form: 'new_way' %>
      <%= ef.hidden_field :poiaddress, form: 'new_way' %>
      <%= ef.hidden_field :cityname, form: 'new_way' %>
      <%= ef.hidden_field :lat, form: 'new_way' %>
      <%= ef.hidden_field :lng, form: 'new_way' %>
      <%= ef.hidden_field :position, form: 'new_way' %>
    <% end %>
    <%= button_to({ action: 'select', index: location.position.to_i }, form_class: 'button_box') do %>
      <span id="<%= location.position.to_i %>_name"><%= location.poiname %></span>
    <% end %>
  </td>
  <td style="width: 5em">
    <%= button_to({ action: 'add', position: location.position }, params: { index: location.position.to_i }, class: 'button is-white') do %>
      <i class="fa-solid fa-lg fa-plus"></i>
    <% end %>
  </td>
</tr>
