<td>
  <p>
    <span><%= model.code %></span>
    <span class="tag"><%= model.status_i18n %></span>
  </p>
  <p class="text-grey">
  <% if model.organ %>
    <i class="fa-solid fa-building"></i>
    <span class="pl-1"><%= model.organ.name %></span>
  <% end %>
  </p>
</td>
<td>
  <% if model.rented %>
    <i class="fa-solid fa-check text-success"></i>
  <% else %>
    <i class="fa-solid fa-times text-danger"></i>
  <% end %>
</td>
<td>
  <p><%= model.held_organ&.name %></p>
  <p class="text-info"><%= model.held_user&.name %></p>
</td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
