<th>
  <p><%= Ship::Box.human_attribute_name(:code) %></p>
  <p><%= Ship::Box.human_attribute_name(:organ_id) %></p>
</th>
<th>
  <p><%= Ship::Box.human_attribute_name(:rented) %></p>
</th>
<td>
  <p><%= Ship::Box.human_attribute_name(:held_organ_id) %></p>
  <p class="color-info"><%= Ship::Box.human_attribute_name(:held_user_id) %></p>
</td>
<th><%= Ship::Box.human_attribute_name(:created_at) %></th>
