<td>
  <div class="is-several">
    <%= image_tag model.box_specification.logo, class: 'image is-24x24' if model.box_specification.logo.attached? %>
    <span><%= model.box_specification.name %></span>
  </div>
</td>
<td><%= model.box_specification.measure %></td>
<td>
  <%= link_to({ controller: 'boxes', box_specification_id: model.box_specification_id }, aria: { label: t('ship.panel.boxes.index.title') }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-regular fa-boxes-stacked"></i>
    <span class="pl-1"><%= model.boxes_count %></span>
  <% end %>
</td>
