<td>
  <p><%= model.address.content %></p>
</td>
<td>
  <span><%= model.state_i18n %></span>
  <%= link_to({ controller: 'admin/shipment_items', action: 'show', shipment_id: model.shipment_item.shipment_id, id: model.shipment_item.id }, data: { turbo_frame: 'modal' }) do %>
    <i class="fa-solid fa-location-arrow"></i>
  <% end if model.shipment_item %>
</td>
<td>
  <p><%= model.box&.code %></p>
  <p class="color-info-dark"><time data-controller="time"><%= model.boxed_in_at&.to_fs(:iso8601) %></time></p>
  <p class="has-text-warning-dark"><time data-controller="time"><%= model.boxed_out_at&.to_fs(:iso8601) %></time></p>
</td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
