<td>
  <p><%= model[0].contact %></p>
  <p><%= model[0].tel %></p>
</td>
<td>
  <p><strong><%= model[0].area.full_name %></strong></p>
  <p><%= model[0].detail %></p>
</td>
<td><%= model[0].station&.name %></td>
<td>
  <%= link_to({ controller: 'items', action: 'packable', address_id: model[0].id }, aria: { label: t('ship.admin.items.index.title') }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-solid fa-dolly"></i>
    <span class="pl-1"><%= model[1].size %></span>
  <% end %>
</td>
