<div>
  <dt><%= Ship::Line.human_attribute_name(:name) %></dt>
  <dd><%= @similar.name %></dd>
</div>
<div>
  <dt><%= Ship::Line.human_attribute_name(:start_name) %></dt>
  <dd><%= @similar.start_name %></dd>
</div>
<div>
  <dt><%= Ship::Line.human_attribute_name(:finish_name) %></dt>
  <dd><%= @similar.finish_name %></dd>
</div>
