<tr>
  <td class="has-text-right"><%= Similar.human_attribute_name(:name) %></td>
  <td><%= @similar.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Similar.human_attribute_name(:start_name) %></td>
  <td><%= @similar.start_name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Similar.human_attribute_name(:finish_name) %></td>
  <td><%= @similar.finish_name %></td>
</tr>
