<tr>
  <td class="has-text-right"><%= ShipmentLog.human_attribute_name(:line_id) %></td>
  <td><%= @shipment_log.line_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= ShipmentLog.human_attribute_name(:station_id) %></td>
  <td><%= @shipment_log.station_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= ShipmentLog.human_attribute_name(:left_at) %></td>
  <td><%= @shipment_log.left_at %></td>
</tr>
<tr>
  <td class="has-text-right"><%= ShipmentLog.human_attribute_name(:arrived_at) %></td>
  <td><%= @shipment_log.arrived_at %></td>
</tr>
<tr>
  <td class="has-text-right"><%= ShipmentLog.human_attribute_name(:prepared_at) %></td>
  <td><%= @shipment_log.prepared_at %></td>
</tr>
<tr>
  <td class="has-text-right"><%= ShipmentLog.human_attribute_name(:expected_leave_at) %></td>
  <td><%= @shipment_log.expected_leave_at %></td>
</tr>
