<tr>
  <td class="has-text-right"><%= Trade::Rent.human_attribute_name(:rentable) %></td>
  <td><%= @rent.rentable %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Rent.human_attribute_name(:rent_start_at) %></td>
  <td><time data-controller="time"><%= @rent.rent_start_at.to_fs(:iso8601) %></time></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Rent.human_attribute_name(:rent_estimate_finish_at) %></td>
  <td><time data-controller="time"><%= @rent.rent_estimate_finish_at&.to_fs(:iso8601) %></time></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Rent.human_attribute_name(:rent_finish_at) %></td>
  <td><time data-controller="time"><%= @rent.rent_finish_at&.to_fs(:iso8601) %></time></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Rent.human_attribute_name(:duration) %></td>
  <td><%= simple_format @rent.compute_duration %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Rent.human_attribute_name(:amount) %></td>
  <td><%= @rent.amount %></td>
</tr>
