<td>
  <span><%= model.trade_item.good_name %></span>
</td>
<td><%= model.trade_item.number %></td>
<td>
  <p>
    <span><%= model.trade_item.address.area.full_name %></span>
    <span><%= model.trade_item.address.detail %></span>
    <span class="has-text-grey">（<%= model.trade_item.address_id %>）</span>
  </p>
</td>
<td><%= model.trade_item.produce_plan&.title %></td>
<td><%= model.trade_item.status_i18n %></td>
