<td>
  <span><%= model.trade_item.good_name %></span>
  <span class="tag"><%= model.trade_item_id %></span>
</td>
<td><%= model.trade_item.number %></td>
<td><%= model.trade_item.produce_plan&.title %></td>
<td><%= model.production_item_id %></td>
