<label class="media" for="cart_address_id_<%= model.id %>">
  <span class="media-content has-column-normal">
    <span>
      <span><%= model.contact_person %></span>
      <span><%= model.tel %></span>
    </span>
    <span class="size-7">
    <% if model.floor.present? %>
      <span><%= Ship::Address.human_attribute_name(:floor) %></span>
      <span><%= model.floor %></span>
    <% else %>
      <span><%= model.area.full_name %></span>
      <span><%= model.detail %></span>
    <% end %>
    </span>
  </span>
  <span data-controller="input" class="media-right flex">
    <% if model.id != @cart.address_id %>
      <span class="text-grey size-7">选为默认</span>
    <% end %>
    <%= radio_button_tag 'cart[address_id]', model.id, model.id == @cart.address_id, data: { action: 'input#form' }, form: 'cart_address_form', class: 'toggle-check' %>
    <i class="fa-solid fa-check text-success"></i>
  </span>
</label>
