<td><%= model.code %></td>
<td>
  <p><%= model.box_specification.name %></p>
  <p><%= model.box_specification.measure %></p>
</td>
<td>
  <p><%= model.status_i18n %></p>
  <p class="has-text-grey"><%= model.rented_i18n %></p>
</td>
<td><%= model.state_i18n %></td>
