<tr>
  <td class="has-text-right"><%= Driver.human_attribute_name(:name) %></td>
  <td><%= @driver.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Driver.human_attribute_name(:number) %></td>
  <td><%= @driver.number %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Driver.human_attribute_name(:detail) %></td>
  <td><%= @driver.detail %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Driver.human_attribute_name(:user_id) %></td>
  <td><%= @driver.user_id %></td>
</tr>
