<div>
  <dt><%= Ship::Driver.human_attribute_name(:name) %></dt>
  <dd><%= @driver.name %></dd>
</div>
<div>
  <dt><%= Ship::Driver.human_attribute_name(:number) %></dt>
  <dd><%= @driver.number %></dd>
</div>
<div>
  <dt><%= Ship::Driver.human_attribute_name(:detail) %></dt>
  <dd><%= @driver.detail %></dd>
</div>
<div>
  <dt><%= Ship::Driver.human_attribute_name(:user_id) %></dt>
  <dd><%= @driver.user_id %></dd>
</div>
