<td>
<% if @shipment.loaded_package_ids.include?(model.id) %>
  <%= check_box_tag 'xx', model.id, false, id: nil %>
<% elsif @shipment.unloaded_package_ids.include?(model.id) %>
  <%= check_box_tag 'xx', model.id, true, disabled: true, id: nil %>
<% end %>
</td>
<td><%= model.station&.name %></td>
<td><%= model.address.content %></td>
<td>
  <%= link_to({ controller: 'packages', action: 'shipment_items', id: model.id }, data: { turbo_frame: 'modal' }, class: 'tag is-info') do %>
    <i class="fa-solid fa-location-arrow"></i>
    <span class="px-1"><%= model.state_i18n %></span>
    <span><%= model.shipment_items_count %></span>
  <% end %>
</td>
<td>
  <p><%= model.box&.code %></p>
  <p class="color-info-dark"><time data-controller="time"><%= model.boxed_in_at&.to_fs(:iso8601) %></time></p>
  <p class="has-text-warning-dark"><time data-controller="time"><%= model.boxed_out_at&.to_fs(:iso8601) %></time></p>
</td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
