<th>
  <p><%= Ship::BoxSpecification.human_attribute_name(:name) %></p>
  <p class="has-text-grey"><%= Ship::BoxSpecification.human_attribute_name(:organ_id) %></p>
</th>
<th>
  <span><%= Ship::BoxSpecification.human_attribute_name(:width) %></span>
  <span class="has-text-grey">x</span>
  <span><%= Ship::BoxSpecification.human_attribute_name(:length) %></span>
  <span class="has-text-grey">x</span>
  <span><%= Ship::BoxSpecification.human_attribute_name(:height) %></span>
</th>
<th><%= Ship::BoxSpecification.human_attribute_name(:cost) %></th>
<th class="has-text-centered">买入</th>
