<div data-controller="page" data-page-debug-value="true" data-action="touchmove->page#move:passive" class="box is-padding-less mx-3 weui-panel_access weui-flex__item" style="height: 100%">
  <div class="weui-panel__bd">
    <%= render partial: 'box_host', collection: @box_hosts, as: :model %>
    <% if @box_hosts.total_pages == @box_hosts.current_page %>
      <%= render 'page_no_more' %>
    <% elsif @box_hosts.blank? %>
      <%= render 'page_blank' %>
    <% elsif @box_hosts.total_pages > @box_hosts.current_page %>
      <%= render 'page_loading' %>
    <% else %>
      <%= render 'page_tip' %>
    <% end %>
  </div>
  <%= render 'paginator' %>
</div>
