<%= render partial: 'covers', locals: { model: @box_host.box_specification } if @box_host.box_specification.covers.length > 0 %>

<div class="box radiusless is-sticky" style="z-index: 3">
  <div class="has-text-bold">
    <span><%= @box_host.box_specification.name %></span>
    <span><%= @box_host.box_specification.measure %></span>
  </div>
  <p>
    <span class="color-grey"><%= Ship::BoxHost.human_attribute_name(:price) %></span>
    <span class="color-danger"><%= @box_host.price.to_money.format.html_safe %></span>
  </p>
  <% @box_host.rent_promotes.each do |promote| %>
    <p class="color-danger">
      <span class="color-grey">租金：</span>
      <span><%= promote.promote_charges[0].parameter.to_money.format.html_safe %></span>
      <span>/</span>
      <span><%= promote.unit_code_i18n %></span>
    </p>
  <% end %>
</div>

<%= render 'rent_price' %>
