<tr>
  <td><%= Ship::BoxSpecification.human_attribute_name(:name) %></td>
  <td><%= @box_specification.name %></td>
</tr>
<tr>
  <td><%= Ship::BoxSpecification.human_attribute_name(:width) %></td>
  <td><%= @box_specification.width %></td>
</tr>
<tr>
  <td><%= Ship::BoxSpecification.human_attribute_name(:length) %></td>
  <td><%= @box_specification.length %></td>
</tr>
<tr>
  <td><%= Ship::BoxSpecification.human_attribute_name(:height) %></td>
  <td><%= @box_specification.height %></td>
</tr>
