<div>
  <dt><%= Ship::BoxSpecification.human_attribute_name(:name) %></dt>
  <dd><%= @box_specification.name %></dd>
</div>
<div>
  <dt><%= Ship::BoxSpecification.human_attribute_name(:width) %></dt>
  <dd><%= @box_specification.width %></dd>
</div>
<div>
  <dt><%= Ship::BoxSpecification.human_attribute_name(:length) %></dt>
  <dd><%= @box_specification.length %></dd>
</div>
<div>
  <dt><%= Ship::BoxSpecification.human_attribute_name(:height) %></dt>
  <dd><%= @box_specification.height %></dd>
</div>
