<div>
  <dt><%= Ship::Line.human_attribute_name(:name) %></dt>
  <dd><%= @line.name %></dd>
</div>
<div>
  <dt><%= Ship::Line.human_attribute_name(:start_name) %></dt>
  <dd><%= @line.start_name %></dd>
</div>
<div>
  <dt><%= Ship::Line.human_attribute_name(:finish_name) %></dt>
  <dd><%= @line.finish_name %></dd>
</div>
<div>
  <dt><%= Ship::Line.human_attribute_name(:line_stations_count) %></dt>
  <dd><%= @line.line_stations_count %></dd>
</div>
