<%= render 'amount' %>
<%= form_with theme: 'weui', model: @order, url: { controller: 'orders', action: 'create', box_hold_id: @box_hold.id }, class: 'pt-0' do |f| %>
  <div class="weui-cells mt-0">
    <%= f.fields :items do |ef| %>
    <div class="weui-cell" data-controller="modify" data-modify-quantity-value="quantity" data-modify-total-value="<%= @lawful_wallet.amount %>">
      <div class="media-left">
        <label class="weui-label"><%= Trade::Item.human_attribute_name(:single_price) %></label>
      </div>
      <div class="weui-cell__bd flex align-items-center">
        <i class="fa-solid fa-xl fa-circle-minus has-text-grey-dark flex-none" data-action="click->modify#minus"></i>
        <%= ef.number_field :single_price, all: { normal: nil }, wrap: { input: nil }, label: nil, data: { modify_target: 'input', action: 'modify#divide' }, class: 'weui-input flex-grow-1' %>
        <i class="fa-solid fa-xl fa-circle-plus has-text-grey-dark flex-none pr-1" data-action="click->modify#plus"></i>
        <span class="flex-none" style="width: 3em"></span>
      </div>
    </div>
    <div class="weui-cell">
      <div class="media-left">
        <label class="weui-label"><%= Trade::Item.human_attribute_name(:number) %></label>
      </div>
      <div data-controller="modify" class="weui-cell__bd flex align-items-center">
        <i class="fa-solid fa-xl fa-circle-minus has-text-grey-dark flex-none" data-action="click->modify#minus"></i>
        <%= ef.number_field :number, value: 10, min: 10, step: 10, all: { normal: nil }, wrap: { input: nil }, label: nil, data: { modify_target: 'input' }, class: 'weui-input flex-grow-1' %>
        <i class="fa-solid fa-xl fa-circle-plus has-text-grey-dark flex-none pr-1" data-action="click->modify#plus"></i>
        <span class="flex-none" style="width: 3em"></span>
      </div>
    </div>
    <% end %>
    <%= f.submit nil, all: { submit: 'weui-cell' } %>
  </div>
<% end %>
