<div class="tabs is-centered">
  <ul>
    <li class="is-active">
      <%= link_to({ action: 'index' }) do %>
        <span>买入</span>
      <% end %>
    </li>
    <li>
      <%= link_to({ action: 'sell' }) do %>
        <span>卖出</span>
      <% end %>
    </li>
  </ul>
</div>

<div class="is-flex is-justify-content-space-between px-4">
  <div>
  <% if @order.items[0].single_price > 0 %>
    <span>最大可买：</span>
    <span><%= (@lawful_wallet.amount / @order.items[0].single_price).floor %></span>
  <% end %>
  </div>
  <%= link_to({ controller: 'trade/my/lawful_wallets', action: 'show' }) do %>
    <span>可用金额：</span>
    <span class="has-text-danger"><%= @lawful_wallet.amount.to_money.format(html_wrap: true).html_safe %></span>
  <% end %>
</div>
