<td><%= model.name %></td>
<td><%= model.box_specification.measure %></td>
<td class="has-text-danger">
<% model.rent_promotes.each do |promote| %>
  <p>
    <span><%= promote.promote_charges[0].parameter.to_money.format.html_safe %></span>
    <span>/</span>
    <span><%= promote.unit&.name %></span>
  </p>
<% end %>
</td>
<td>
  <div class="is-flex justify-content-center">
    <%= render partial: 'cart', locals: { model: model } %>
  </div>
</td>
