<div class="<%= active_helper(modules: ['ship/admin', 'ship/share', 'ship/buy'], active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu">
  <%= content_tag :div, class: 'menu-list' do %>
    <%= link_to t('ship.admin.addresses.index.title'), { controller: 'ship/admin/addresses' }, class: active_helper(controllers: 'addresses', active: 'is-active') %>
    <%= link_to t('ship.admin.trade_items.index.title'), { controller: 'ship/admin/trade_items' }, class: active_helper(controllers: 'trade_items', active: 'is-active') %>
    <%= link_to t('ship.admin.packages.index.title'), { controller: 'ship/admin/packages' }, class: active_helper(controllers: 'packages', active: 'is-active') %>
    <%= link_to t('ship.share.boxes.index.title'), { controller: 'ship/share/boxes' }, class: active_helper(controllers: 'boxes', active: 'is-active') %>
    <%= link_to t('ship.buy.orders.index.title'), { controller: 'ship/buy/orders' }, class: active_helper(controllers: 'orders', active: 'is-active') %>
    <%= link_to t('ship.share.box_specifications.index.title'), { controller: 'ship/share/box_specifications' }, class: active_helper(controllers: 'box_specifications', active: 'is-active') -%>
  <% end %>
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-solid fa-truck fa-fw"></i>
    <span><%= t('ship.admin.title') %></span>
    <i class="fa-solid dropdown"></i>
  </a>
</div>
<div class="<%= active_helper(modules: ['ship/admin', 'ship/share', 'ship/buy'], active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu">
  <%= content_tag :div, class: 'menu-list' do %>
    <%= link_to t('ship.admin.items.index.title'), { controller: 'ship/admin/items' }, class: active_helper(controllers: 'items', active: 'is-active') %>
    <%= link_to t('ship.admin.shipments.index.title'), { controller: 'ship/admin/shipments' }, class: active_helper(controllers: 'shipments', active: 'is-active') -%>
  <% end %>
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-solid fa-fw fa-list-check"></i>
    <span>运次管理</span>
    <i class="fa-solid dropdown"></i>
  </a>
</div>
<div class="<%= active_helper(modules: ['ship/admin', 'ship/share', 'ship/buy'], active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu">
  <%= content_tag :div, class: 'menu-list' do %>
    <%= link_to t('ship.admin.cars.index.title'), { controller: 'ship/admin/cars' }, class: active_helper(controllers: 'cars', active: 'is-active') %>
    <%= link_to t('ship.admin.drivers.index.title'), { controller: 'ship/admin/drivers' }, class: active_helper(controllers: 'drivers', active: 'is-active') %>
    <%= link_to t('ship.admin.lines.index.title'), { controller: 'ship/admin/lines' }, class: active_helper(controllers: ['lines', 'locations'], active: 'is-active') %>
    <%= link_to t('ship.admin.stations.index.title'), { controller: 'ship/admin/stations' }, class: active_helper(controllers: 'stations', active: 'is-active') -%>
  <% end %>
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-solid fa-fw fa-gears"></i>
    <span>系统设置</span>
    <i class="fa-solid dropdown"></i>
  </a>
</div>
<div class="<%= active_helper(modules: 'ship/admin', active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu">
  <%= content_tag :div, class: 'menu-list' do %>
    <%= link_to t('ship.admin.box_specifications.index.title'), { controller: 'ship/admin/box_specifications' }, class: active_helper(controllers: 'box_specifications', active: 'is-active') -%>
  <% end %>
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-solid fa-fw fa-box"></i>
    <span>物流箱</span>
    <i class="fa-solid dropdown"></i>
  </a>
</div>
