<td>
  <p><time data-controller="time"><%= model.start_at&.to_fs(:iso8601) %></time></p>
  <p><time data-controller="time"><%= model.finish_at&.to_fs(:iso8601) %></time></p>
</td>
<td>
  <p class="text-grey size-7"><time data-controller="time"><%= model.estimate_finish_at&.to_fs(:iso8601) %></time></p>
  <p>
  <% if model.finish_at.blank? %>
    <time data-controller="time-count" data-time-count-time-value="<%= model.start_at&.to_fs(:iso8601) %>" class="family-monospace"><%= exact_distance_time(model.start_at, Time.current) %></time>
  <% else %>
    <%= model.duration.inspect %>
  <% end %>
  </p>
</td>
<td>
  <%= link_to({ action: 'promote', id: model.id }, data: { turbo_frame: 'modal' }) do %>
    <i class="fa-regular fa-seal-question"></i>
  <% end %>
  <%= link_to({ action: 'job', id: model.id }, data: { turbo_frame: 'modal' }, class: 'pl-1') do %>
    <%= model.amount.to_money.format.html_safe %>
  <% end %>
</td>
