<th><%= Ship::Station.human_attribute_name(:name) %></th>
<th>
  <p><%= Ship::Station.human_attribute_name(:area_id) %></p>
  <p><%= Ship::Station.human_attribute_name(:detail) %></p>
</th>
<th>
  <p><%= Ship::Station.human_attribute_name(:lat) %></p>
  <p><%= Ship::Station.human_attribute_name(:lng) %></p>
</th>
