<div>
  <dt><%= Ship::BoxSpecification.human_attribute_name(:name) %></dt>
  <dd><%= @box_host.box_specification.name %></dd>
</div>
<div>
  <dt><%= Ship::BoxSpecification.human_attribute_name(:measure) %></dt>
  <dd><%= @box_host.box_specification.measure %></dd>
</div>
<div>
  <dt><%= Ship::BoxSpecification.human_attribute_name(:price) %></dt>
  <dd><%= @box_host.price.to_money.format.html_safe %></dd>
</div>
<div>
  <dt><%= Ship::BoxSpecification.human_attribute_name(:covers) %></dt>
  <td>
    <div class="flex">
    <% @box_host.box_specification.covers.each do |image| %>
      <%= image_tag image, class: 'image is-128x128 mr-4' %>
    <% end %>
    </div>
  </td>
</div>
