<td><%= check_box_tag 'xx', model.id, false, id: nil %></td>
<td><%= model.good_name %></td>
<td><%= model.number %></td>
<td>
  <span><%= model.user&.name %></span>
  <span class="has-text-grey">（<%= model.user_id %>）</span>
</td>
<td>
  <span class="has-text-grey"><%= model.address_id %></span>
</td>
<td><%= model.produce_plan&.title %></td>
<td><%= model.status_i18n %></td>
