<div>
  <dt><%= Lease::Rent.human_attribute_name(:start_at) %></dt>
  <dd><%= @rent.start_at %></dd>
</div>
<div>
  <dt><%= Lease::Rent.human_attribute_name(:finish_at) %></dt>
  <dd><%= @rent.finish_at %></dd>
</div>
<div>
  <dt><%= Lease::Rent.human_attribute_name(:estimate_finish_at) %></dt>
  <dd><%= @rent.estimate_finish_at %></dd>
</div>
<div>
  <dt><%= Lease::Rent.human_attribute_name(:price) %></dt>
  <dd><%= @rent.price %></dd>
</div>
