<div class="weui-media-box weui-media-box_appmsg" id="production_<%= model.id %>">
  <%= link_to({ action: 'show', id: model.id }, text: true, class: 'weui-media-box__hd') do %>
    <%= image_tag model.logo, class: 'weui-media-box__thumb' if model.logo.attached? %>
  <% end %>
  <div class="weui-media-box__bd is-flex is-flex-direction-column">
    <%= link_to({ action: 'show', id: model.id }, text: true, class: 'weui-media-box__title') do %>
      <%= model.name %>
    <% end %>
    <p class="weui-media-box__desc pt-0">
      <%= model.measure %>
    </p>
    <div class="is-flex is-align-items-center">
    <% model.rent_promotes.each do |promote| %>
      <p class="has-text-danger">
        <span><%= promote.promote_charges[0].parameter.to_money.format(html_wrap: true).html_safe %></span>
        <span>/</span>
        <span><%= promote.unit&.name %></span>
      </p>
    <% end %>
    </div>
    <div class="is-level is-flex is-justify-content-space-between pt-2">
      <div class="level-left">
        <div class="level-item">可租用： <%= model.rentals_count %></div>
      </div>
      <div class="level-right mt-0">
        <div class="level-item">
          <%= render partial: 'cart', locals: { model: model, cart: @cart } %>
        </div>
      </div>
    </div>
  </div>
</div>
