<tr>
  <td><%= BoxLog.human_attribute_name(:boxed_in_at) %></td>
  <td><%= @box_log.boxed_in_at %></td>
</tr>
<tr>
  <td><%= BoxLog.human_attribute_name(:boxed_out_at) %></td>
  <td><%= @box_log.boxed_out_at %></td>
</tr>
<tr>
  <td><%= BoxLog.human_attribute_name(:duration) %></td>
  <td><%= @box_log.duration %></td>
</tr>
<tr>
  <td><%= BoxLog.human_attribute_name(:package_id) %></td>
  <td><%= @box_log.package_id %></td>
</tr>
