<div>
  <dt><%= BoxLog.human_attribute_name(:boxed_in_at) %></dt>
  <dd><%= @box_log.boxed_in_at %></dd>
</div>
<div>
  <dt><%= BoxLog.human_attribute_name(:boxed_out_at) %></dt>
  <dd><%= @box_log.boxed_out_at %></dd>
</div>
<div>
  <dt><%= BoxLog.human_attribute_name(:duration) %></dt>
  <dd><%= @box_log.duration %></dd>
</div>
<div>
  <dt><%= BoxLog.human_attribute_name(:package_id) %></dt>
  <dd><%= @box_log.package_id %></dd>
</div>
