<td><%= model.code %></td>
<td>
  <p><%= model.box_specification.name %></p>
  <p><%= model.box_specification.measure %></p>
</td>
<td>
  <p><%= model.status_i18n %></p>
  <p><%= model.rented_i18n %></p>
</td>
<td>
  <p><%= model.trade_item_id %></p>
  <p><%= model.trade_item.aim_i18n %></p>
</td>
