<div class="box is-radiusless has-text-centered">
  <i class="fa-solid fa-hand-holding-dollar"></i>
  <span><%= t('.title') %></span>
</div>

<div class="weui-flex is-align-items-flex-start is-flex-grow-1" style="margin-bottom: -1rem">
  <div data-controller="page" data-page-debug-value="true" data-action="touchmove->page#move:passive" class="weui-panel is-borderless weui-panel_access mt-0 weui-flex__item" style="height: 100%">
    <div class="weui-panel__bd">
      <%= render partial: 'box_specification', collection: @box_specifications, as: :model %>
      <% if @box_specifications.total_pages == @box_specifications.current_page %>
        <%= render 'no_more' %>
      <% elsif @box_specifications.blank? %>
        <%= render 'blank' %>
      <% elsif @box_specifications.total_pages > @box_specifications.current_page %>
        <%= render 'loading' %>
      <% else %>
        <%= render 'tip' %>
      <% end %>
    </div>
    <%= render 'paginator' %>
  </div>
</div>
