<%= render partial: 'covers', locals: { model: @box_specification } if @box_specification.covers.length > 0 %>

<div class="box is-radiusless is-sticky" style="z-index: 3">
  <div class="has-text-bold">
    <span><%= @box_specification.name %></span>
    <span><%= @box_specification.measure %></span>
  </div>
  <p class="has-text-danger"><%= @box_specification.price.to_money.format(html_wrap: true).html_safe %></p>
</div>

<div class="weui-panel">
  <div class="weui-panel__hd">租期试算</div>
  <div class="weui-panel__bd">
    <%= render partial: 'fetch', locals: { model: @box_specification.rents.build } %>
  </div>
</div>
