<td>
  <p><%= model.rentable_type_i18n %></p>
</td>
<td>
  <p><time data-controller="time"><%= model.start_at.to_fs(:iso8601) %></time></p>
  <p><time data-controller="time"><%= model.estimate_finish_at&.to_fs(:iso8601) %></time></p>
</td>
<td><time data-controller="time"><%= model.finish_at&.to_fs(:iso8601) %></time></td>
<td>
<% if model.duration.zero? %>
  <time data-controller="count-up" data-count-up-time-value="<%= model.start_at.to_fs(:iso8601) %>"><%= exact_distance_time(model.start_at, Time.current) %></time>
<% else %>
  <%= model.duration.inspect %>
<% end %>
</td>
<td><%= model.price %></td>
