<tr>
  <td class="has-text-right"><%= BoxBuy.human_attribute_name(:price) %></td>
  <td><%= @box_buy.price %></td>
</tr>
<tr>
  <td class="has-text-right"><%= BoxBuy.human_attribute_name(:amount) %></td>
  <td><%= @box_buy.amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= BoxBuy.human_attribute_name(:box_specification_id) %></td>
  <td><%= @box_buy.box_specification_id %></td>
</tr>
