<td><%= model.name %></td>
<td>
  <span><%= model.width %></span>
  <span class="has-text-grey">x</span>
  <span><%= model.length %></span>
  <span class="has-text-grey">x</span>
  <span><%= model.height %></span>
</td>
<td class="has-text-danger"><%= model.price.to_money.format(html_wrap: true).html_safe %></td>
<td>
  <div class="is-flex is-justify-content-center">
    <%= render partial: 'cart', locals: { model: model } %>
  </div>
</td>
