<div>
  <dt><%= Ship::Location.human_attribute_name(:poiname) %></dt>
  <dd><%= @location.poiname %></dd>
</div>
<div>
  <dt><%= Ship::Location.human_attribute_name(:poiaddress) %></dt>
  <dd><%= @location.poiaddress %></dd>
</div>
<div>
  <dt><%= Ship::Location.human_attribute_name(:cityname) %></dt>
  <dd><%= @location.cityname %></dd>
</div>
<div>
  <dt><%= Ship::Location.human_attribute_name(:lat) %></dt>
  <dd><%= @location.lat %></dd>
</div>
<div>
  <dt><%= Ship::Location.human_attribute_name(:lng) %></dt>
  <dd><%= @location.lng %></dd>
</div>
