<td><%= model.station.name %></td>
<td>
  <p><%= model.station.area.full_name %></p>
  <p><%= model.station.detail %></p>
</td>
<td>
  <p><%= model.station.lat %></p>
  <p><%= model.station.lng %></p>
</td>
