<div class="weui-media-box weui-media-box_appmsg">
  <div class="weui-media-box__bd">
    <%= yield %>
  </div>
  <div class="weui-media-box__ft is-flex-direction-column is-justify-content-space-evenly">
    <%= link_to({ action: 'loaded', from_station_id: model.station_id }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-person-dolly has-text-success"></i>
      <span class="pl-1"><%= t('ship.admin.shipments.loaded.title') %></span>
    <% end unless model.last? %>
    <%= link_to({ action: 'unloaded', station_id: model.station_id }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-person-dolly-empty has-text-danger"></i>
      <span class="pl-1"><%= t('ship.admin.shipments.unloaded.title') %></span>
    <% end unless model.first? %>
  </div>
</div>
