<div>
  <dt><%= Ship::Station.human_attribute_name(:name) %></dt>
  <dd><%= @line_station.station.name %></dd>
</div>
<div>
  <dt><%= Ship::Station.human_attribute_name(:poiname) %></dt>
  <dd><%= @line_station.station.poiname %></dd>
</div>
<div>
  <dt><%= Ship::Station.human_attribute_name(:poiaddress) %></dt>
  <dd><%= @line_station.station.poiaddress %></dd>
</div>
<div>
  <dt><%= Ship::Station.human_attribute_name(:cityname) %></dt>
  <dd><%= @line_station.station.cityname %></dd>
</div>
<div>
  <dt><%= Ship::Station.human_attribute_name(:lat) %></dt>
  <dd><%= @line_station.station.lat %></dd>
</div>
<div>
  <dt><%= Ship::Station.human_attribute_name(:lng) %></dt>
  <dd><%= @line_station.station.lng %></dd>
</div>
