<tr>
  <td><%= Ship::Station.human_attribute_name(:name) %></td>
  <td><%= @line_station.station.name %></td>
</tr>
<tr>
  <td><%= Ship::Station.human_attribute_name(:poiname) %></td>
  <td><%= @line_station.station.poiname %></td>
</tr>
<tr>
  <td><%= Ship::Station.human_attribute_name(:poiaddress) %></td>
  <td><%= @line_station.station.poiaddress %></td>
</tr>
<tr>
  <td><%= Ship::Station.human_attribute_name(:cityname) %></td>
  <td><%= @line_station.station.cityname %></td>
</tr>
<tr>
  <td><%= Ship::Station.human_attribute_name(:lat) %></td>
  <td><%= @line_station.station.lat %></td>
</tr>
<tr>
  <td><%= Ship::Station.human_attribute_name(:lng) %></td>
  <td><%= @line_station.station.lng %></td>
</tr>
