<tr>
  <td class="has-text-right"><%= Ship::Location.human_attribute_name(:name) %></td>
  <td><%= @location.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::Location.human_attribute_name(:poiname) %></td>
  <td><%= @location.poiname %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::Location.human_attribute_name(:poiaddress) %></td>
  <td><%= @location.poiaddress %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::Location.human_attribute_name(:cityname) %></td>
  <td><%= @location.cityname %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::Location.human_attribute_name(:lat) %></td>
  <td><%= @location.lat %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::Location.human_attribute_name(:lng) %></td>
  <td><%= @location.lng %></td>
</tr>
