<td><%= model.name %></td>
<td><%= model.measure %></td>
<td class="has-text-danger">
<% model.available_promotes.each do |promote| %>
  <p>
    <span><%= promote.promote_charges[0].parameter.to_money.format(html_wrap: true).html_safe %></span>
    <span>/</span>
    <span><%= promote.unit_code %></span>
  </p>
<% end %>
</td>
<td>
  <div class="is-flex is-justify-content-center">
    <%= render partial: 'cart', locals: { model: model } %>
  </div>
</td>
