<div class="weui-cell weui-cell_access" data-controller="weui-dialog" data-weui-dialog-id-value="fetch_dialog" data-action="click->weui-dialog#toggle">
  <div class="weui-cell__hd">预计结束时间</div>
  <div class="weui-cell__bd"></div>
  <div class="weui-cell__ft">
    <time data-controller="time"><%= @trade_item.rent_estimate_finish_at&.to_fs(:iso8601) %></time>
  </div>
</div>

<div data-controller="weui-dialog time-range" id="fetch_dialog" class="weui-dialog__wrap">
  <div class="weui-mask" data-action="click->weui-dialog#close"></div>
  <div class="weui-half-screen-dialog weui-half-screen-dialog_large" data-weui-dialog-target="dialog">
    <div class="weui-half-screen-dialog__hd">
      <div class="weui-half-screen-dialog__hd__side"></div>
      <div class="weui-half-screen-dialog__hd__main">
        <div class="weui-half-screen-dialog__title">选择时间</div>
      </div>
      <div class="weui-half-screen-dialog__hd__side">
        <button class="weui-icon-btn" data-action="weui-dialog#close">
          <i class="weui-icon-close-thin"></i>
        </button>
      </div>
    </div>
    <div class="weui-half-screen-dialog__bd">
      <%= form_with(model: @order, url: { controller: '', action: 'update', id: @box_host.id }, method: :patch) do |f| %>
        <%= f.fields :items, model: @trade_item do |ef| %>
          <%= ef.hidden_field :good_type, value: @box_host.base_class_name %>
          <%= ef.hidden_field :good_id, value: @box_host.id %>
          <%= ef.hidden_field :aim, value: 'rent' %>
          <%= ef.datetime_field :rent_estimate_finish_at %>
        <% end %>
        <%= f.submit '确认' %>
      <% end %>
    </div>
    <div class="weui-half-screen-dialog__ft"></div>
  </div>
</div>
