<label class="weui-cell weui-cell_active weui-check__label" for="cart_address_id_<%= model.id %>">
  <span class="weui-cell__bd is-flex is-flex-direction-column">
    <span>
      <span><%= model.contact %></span>
      <span><%= model.tel %></span>
    </span>
    <span class="is-size-7">
      <span><%= Profiled::Address.human_attribute_name(:floor) %></span>
      <span><%= model.floor %></span>
    </span>
  </span>
  <span class="weui-cell__ft" data-controller="input">
    <%= button_to({ action: 'actions', id: model.id }, class: 'button is-borderless') do %>
      <i class="fa-light fa-ellipsis-h fa-lg"></i>
    <% end %>
  </span>
</label>
