<label class="media" for="cart_address_id_<%= model.id %>">
  <span class="media-content">
    <span>
      <span><%= model.contact_person %></span>
      <span><%= model.tel %></span>
    </span>
    <span class="size-7">
    <% if model.floor.present? %>
      <span><%= Profiled::Address.human_attribute_name(:floor) %></span>
      <span><%= model.floor %></span>
    <% else %>
      <span><%= model.area.full_name %></span>
      <span><%= model.detail %></span>
    <% end %>
    </span>
  </span>
  <span class="media-right" data-controller="input">
    <% if model.id != @cart.address_id %>
      <span class="has-text-grey size-7">选为默认</span>
    <% end %>
    <%= form_with theme: nil, scope: 'cart', url: { controller: 'trade/my/carts', action: 'update', id: params[:cart_id] }, method: :patch do |f| %>
      <%= f.radio_button :address_id, model.id, checked: model.id == @cart.address_id, class: 'toggle-check', data: { action: 'input#form' } %>
       <i class="fa-solid fa-check color-success"></i>
    <% end %>
  </span>
</label>
