<div>
  <dt><%= Ship::Address.human_attribute_name(:contact_person) %></dt>
  <dd data-controller="single-input" data-single-input-single-form-outlet="#bottom-field">
    <%= text_field_tag 'address[contact_person]', @address.contact_person, data: { single_input_target: 'input', action: 'click->single-input#prepare' } %>
  </dd>
</div>
<div>
  <dt><%= Ship::Address.human_attribute_name(:detail) %></dt>
  <dd data-controller="single-input" data-single-input-single-form-outlet="#bottom-field">
    <%= text_area_tag 'address[detail]', @address.detail, data: { single_input_target: 'input', action: 'click->single-input#prepare' } %>
  </dd>
</div>
<div>
  <dt><%= Ship::Address.human_attribute_name(:area_id) %></dt>
  <dd><%= @address.area_id %></dd>
</div>
