<div>
  <dt><%= Ship::Address.human_attribute_name(:contact_person) %></dt>
  <dd data-controller="single-form">
    <%= text_field_tag 'ship[contact_person]', @address.contact_person, data: { single_form_target: 'input', action: 'click->single-form#prepare' }, class: 'text-right' %>
  </dd>
</div>
<div>
  <dt><%= Ship::Address.human_attribute_name(:detail) %></dt>
  <dd><%= @address.detail %></dd>
</div>
<div>
  <dt><%= Ship::Address.human_attribute_name(:area_id) %></dt>
  <dd><%= @address.area_id %></dd>
</div>
