<th>
  <p><%= Ship::Station.human_attribute_name(:name) %></p>
  <p class="color-grey"><%= Ship::Station.human_attribute_name(:organ_id) %></p>
</th>
<th>
  <p><%= Ship::Station.human_attribute_name(:area_id) %></p>
  <p><%= Ship::Station.human_attribute_name(:detail) %></p>
</th>
<th>
  <p><%= Ship::Station.human_attribute_name(:lat) %></p>
  <p><%= Ship::Station.human_attribute_name(:lng) %></p>
</th>
