<td>
  <p><%= model.name %></p>
  <p class="text-grey"><%= model.organ.name %></p>
</td>
<td>
  <p><%= model.area.full_name %></p>
  <p><%= model.detail %></p>
</td>
<td>
  <p><%= model.lat %></p>
  <p><%= model.lng %></p>
</td>
