<div class="weui-form-preview">
  <div class="weui-form-preview__bd">
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Ship::Shipment.human_attribute_name(:line_id) %></label>
      <span class="weui-form-preview__value"><%= @shipment.line.name %></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Ship::Shipment.human_attribute_name(:car_id) %></label>
      <span class="weui-form-preview__value"><%= @shipment.car.number %></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Ship::Shipment.human_attribute_name(:driver_id) %></label>
      <span class="weui-form-preview__value"><%= @shipment.driver.name %></span>
    </div>
  </div>
</div>
