<td><%= model.name %></td>
<td>
  <span><%= model.start_name %></span>
  <i class="fa-solid fa-right-long has-text-grey px-1"></i>
  <span><%= model.finish_name %></span>
</td>
<td>
  <%= link_to({ controller: 'line_stations', line_id: model.id }, aria: { label: t('ship.admin.line_stations.index.title') }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-solid fa-location-dot"></i>
    <span class="pl-1"><%= model.line_stations_count %></span>
  <% end %>
</td>
<td>
  <%= link_to({ controller: 'shipments', line_id: model.id }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-regular fa-list"></i>
    <span class="pl-1"><%= t('ship.admin.shipments.index.title') %></span>
  <% end %>
</td>
