<%= button_to({ action: 'destroy', id: model.id }, method: :delete, class: 'has-text-danger', form: { data: { turbo_confirm: t('.confirm') }, class: 'weui-actionsheet__cell weui-actionsheet__cell_warn' }) do %>
  <i class="fa-regular fa-trash"></i>
  <span><%= t('.destroy') %></span>
<% end %>
<%= link_to({ action: 'edit', id: model.id }, class: 'weui-actionsheet__cell') do %>
  <i class="fa-regular fa-pencil"></i>
  <span><%= t('.edit') %></span>
<% end %>
<%= link_to({ action: 'show', id: model.id }, class: 'weui-actionsheet__cell') do %>
  <i class="fa-regular fa-square-info"></i>
  <span><%= t('.show') %></span>
<% end %>
<%= link_to({ controller: 'shipment_items', shipment_id: model.id }, class: 'weui-actionsheet__cell') do %>
  <i class="fa-regular fa-list-check"></i>
  <span><%= t('ship.admin.shipment_items.index.title') %></span>
<% end %>
<%= link_to({ action: 'stations', id: model.id }, class: 'weui-actionsheet__cell') do %>
  <i class="fa-regular fa-location-dot"></i>
  <span><%= t('ship.admin.shipments.stations.title') %></span>
<% end %>
