<tr>
  <td><%= Ship::Shipment.human_attribute_name(:enter_url) %></td>
  <td><%= image_tag @shipment.qrcode_enter_url %></td>
</tr>
<tr>
  <td><%= Ship::Shipment.human_attribute_name(:car_id) %></td>
  <td><%= @shipment.car_id %></td>
</tr>
<tr>
  <td><%= Ship::Shipment.human_attribute_name(:line_id) %></td>
  <td><%= @shipment.line_id %></td>
</tr>
<tr>
  <td><%= Ship::Shipment.human_attribute_name(:driver_id) %></td>
  <td><%= @shipment.driver_id %></td>
</tr>
<tr>
  <td><%= Ship::Shipment.human_attribute_name(:load_on) %></td>
  <td><%= @shipment.load_on %></td>
</tr>
<tr>
  <td><%= Ship::Shipment.human_attribute_name(:state) %></td>
  <td><%= @shipment.state %></td>
</tr>
<tr>
  <td><%= Ship::Shipment.human_attribute_name(:left_at) %></td>
  <td><%= @shipment.left_at %></td>
</tr>
<tr>
  <td><%= Ship::Shipment.human_attribute_name(:arrived_at) %></td>
  <td><%= @shipment.arrived_at %></td>
</tr>
