<div>
  <dt><%= Ship::Shipment.human_attribute_name(:enter_url) %></dt>
  <dt><%= image_tag @shipment.qrcode_enter_url %></dd>
</div>
<div>
  <dt><%= Ship::Shipment.human_attribute_name(:car_id) %></dt>
  <dd><%= @shipment.car_id %></dd>
</div>
<div>
  <dt><%= Ship::Shipment.human_attribute_name(:line_id) %></dt>
  <dd><%= @shipment.line_id %></dd>
</div>
<div>
  <dt><%= Ship::Shipment.human_attribute_name(:driver_id) %></dt>
  <dd><%= @shipment.driver_id %></dd>
</div>
<div>
  <dt><%= Ship::Shipment.human_attribute_name(:load_on) %></dt>
  <dd><%= @shipment.load_on %></dd>
</div>
<div>
  <dt><%= Ship::Shipment.human_attribute_name(:state) %></dt>
  <dd><%= @shipment.state %></dd>
</div>
<div>
  <dt><%= Ship::Shipment.human_attribute_name(:left_at) %></dt>
  <dd><%= @shipment.left_at %></dd>
</div>
<div>
  <dt><%= Ship::Shipment.human_attribute_name(:arrived_at) %></dt>
  <dd><%= @shipment.arrived_at %></dd>
</div>
