<div class="weui-media-box weui-media-box_appmsg" id="production_<%= model.id %>">
  <%= link_to({ action: 'show', id: model.id }, text: true, class: 'weui-media-box__hd') do %>
    <%= image_tag model.box_specification.logo, class: 'weui-media-box__thumb' if model.box_specification.logo.attached? %>
  <% end %>
  <div class="weui-media-box__bd">
    <%= link_to({ action: 'show', id: model.id }, text: true, class: 'weui-media-box__title') do %>
      <span><%= model.box_specification.measure %></span>
      <span class="tag"><%= model.box_specification.name %></span>
    <% end %>
    <div class="is-flex is-justify-content-space-between py-3">
      <%= link_to({ action: 'all', id: model }, class: '') do %>
        <i class="fa-regular fa-tags has-text-primary"></i>
        <span class="has-text-grey-dark is-size-7 pl-0"><%= Ship::BoxHost.human_attribute_name(:boxes_count) %></span>
        <span class="has-text-weight-medium has-text-danger-dark is-family-zhushi"><%= model.boxes_count %></span>
      <% end %>
      <%= link_to({ action: 'rentable', id: model }, class: '') do %>
        <i class="fa-regular fa-tags has-text-primary"></i>
        <span class="has-text-grey-dark is-size-7 pl-0"><%= Ship::BoxHost.human_attribute_name(:tradable_count) %></span>
        <span class="has-text-weight-medium has-text-danger-dark is-family-zhushi"><%= model.tradable_count %></span>
      <% end %>
      <%= link_to({ action: 'rented', id: model }, class: '') do %>
        <i class="fa-regular fa-tags has-text-primary"></i>
        <span class="has-text-grey-dark is-size-7 pl-0"><%= Ship::BoxHost.human_attribute_name(:traded_count) %></span>
        <span class="has-text-weight-medium has-text-danger-dark is-family-zhushi"><%= model.traded_count %></span>
      <% end %>
    </div>
  </div>
</div>
