<div class="media" id="production_<%= model.id %>">
  <%= link_to({ action: 'show', id: model.id }, text: true, class: 'weui-media-box__hd') do %>
    <%= image_tag model.box_specification.logo, class: 'image is-64x64' if model.box_specification.logo.attached? %>
  <% end %>
  <div class="media-content">
    <%= link_to({ action: 'show', id: model.id }, text: true, class: 'weui-media-box__title') do %>
      <span><%= model.box_specification.measure %></span>
      <span class="tag"><%= model.box_specification.name %></span>
    <% end %>
    <div class="flex justify-content-space-between py-3">
      <%= link_to({ action: 'all', id: model }, class: '') do %>
        <i class="fa-regular fa-clone text-primary"></i>
        <span class="text-grey-dark size-7 pl-0"><%= Ship::BoxHost.human_attribute_name(:boxes_count) %></span>
        <span class="text-weight-medium text-danger-dark is-family-zhushi"><%= model.boxes_count %></span>
      <% end %>
      <%= link_to({ action: 'rentable', id: model }, class: '') do %>
        <i class="fa-regular fa-thumbs-up text-primary"></i>
        <span class="text-grey-dark size-7 pl-0"><%= Ship::BoxHost.human_attribute_name(:tradable_count) %></span>
        <span class="text-weight-medium text-danger-dark is-family-zhushi"><%= model.tradable_count %></span>
      <% end %>
      <%= link_to({ action: 'rented', id: model }, class: '') do %>
        <i class="fa-regular fa-handshake text-primary"></i>
        <span class="text-grey-dark size-7 pl-0"><%= Ship::BoxHost.human_attribute_name(:traded_count) %></span>
        <span class="text-weight-medium text-danger-dark is-family-zhushi"><%= model.traded_count %></span>
      <% end %>
    </div>
  </div>
</div>
