<div>
  <dt><%= Ship::Car.human_attribute_name(:registration) %></dt>
  <dt><%= image_tag @car.registration if @car.registration.attached? %></dd>
</div>
<div>
  <dt><%= Ship::Car.human_attribute_name(:number) %></dt>
  <dd><%= @car.number %></dd>
</div>
<div>
  <dt><%= Ship::Car.human_attribute_name(:detail) %></dt>
  <dd><%= @car.detail %></dd>
</div>
<div>
  <dt><%= Ship::Car.human_attribute_name(:enter_url) %></dt>
  <dt><%= image_tag @car.qrcode_enter_url %></dd>
</div>
