<tr>
  <td class="has-text-right"><%= Line.human_attribute_name(:name) %></td>
  <td><%= @line.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Line.human_attribute_name(:start_name) %></td>
  <td><%= @line.start_name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Line.human_attribute_name(:finish_name) %></td>
  <td><%= @line.finish_name %></td>
</tr>
