<div>
  <dt><%= Ship::ShipmentItem.human_attribute_name(:state) %></dt>
  <dd><%= @shipment_item.state_i18n %></dd>
</div>
<div>
  <dt><%= Ship::ShipmentItem.human_attribute_name(:status) %></dt>
  <dd><%= @shipment_item.status_i18n %></dd>
</div>
<div>
  <dt><%= Ship::ShipmentItem.human_attribute_name(:package_id) %></dt>
  <dd><%= @shipment_item.package_id %></dd>
</div>
<div>
  <dt><%= Ship::ShipmentItem.human_attribute_name(:box_id) %></dt>
  <dd><%= @shipment_item.box_id %></dd>
</div>
<div>
  <dt><%= Ship::ShipmentItem.human_attribute_name(:loaded_at) %></dt>
  <dd><time data-controller="time"><%= @shipment_item.loaded_at&.to_fs(:iso8601) %></time></dd>
</div>
<div>
  <dt><%= Ship::ShipmentItem.human_attribute_name(:unloaded_at) %></dt>
  <dd><time data-controller="time"><%= @shipment_item.unloaded_at&.to_fs(:iso8601) %></time></dd>
</div>
