<td>
  <%= check_box_tag 'xx', model.id, false, data: { action: 'check#toggle' } %>
</td>
<td><%= model.good.name %></td>
<td><%= model.number %></td>
<td><%= model.user_id %></td>
<td><%= model.produce_plan&.title %></td>
<td><%= model.status_i18n %></td>
