<td>
  <p class="has-text-success"><time data-controller="time" data-format="human"><%= model.boxed_in_at.to_fs(:iso8601) %></time></p>
  <p class="has-text-danger"><time data-controller="time" data-format="human"><%= model.boxed_out_at&.to_fs(:iso8601) %></time></p>
</td>
<td><%= model.duration_obj.inspect %></td>
<td>
  <%= link_to({ controller: 'admin/packages', action: 'show', id: model.package_id }, data: { turbo_frame: 'modal' }) do %>
    <i class="fa-solid fa-box"></i>
    <span class="pl-1"><%= model.package_id %></span>
  <% end %>
</td>
<td><time data-controller="time" data-format="human" class="has-text-grey"><%= model.created_at.to_fs(:iso8601) %></time></td>
