<th>
  <p class="color-success"><%= Ship::BoxLog.human_attribute_name(:boxed_in_at) %></p>
  <p class="color-danger"><%= Ship::BoxLog.human_attribute_name(:boxed_out_at) %></p>
</th>
<th><%= Ship::BoxLog.human_attribute_name(:duration) %></th>
<th><%= Ship::BoxLog.human_attribute_name(:package_id) %></th>
<th><%= Ship::BoxLog.human_attribute_name(:created_at) %></th>
