<table class="table is-striped is-borderless is-fullwidth">
  <thead>
    <tr class="text-weight-normal size-7">
      <th><%= Ship::ShipmentItem.human_attribute_name(:state) %></th>
      <th class="text-centered">
        <p><%= Ship::ShipmentItem.human_attribute_name(:package_id) %></p>
        <p><%= Ship::ShipmentItem.human_attribute_name(:box_id) %></p>
      </th>
      <th class="text-centered">
        <p><%= Ship::ShipmentItem.human_attribute_name(:loaded_at) %></p>
        <p><%= Ship::ShipmentItem.human_attribute_name(:unloaded_at) %></p>
      </th>
    </tr>
  </thead>
  <%= render partial: 'shipment_item', collection: @shipment.shipment_items.limit(5), as: :model %>
</table>
