<table class="table is-striped is-borderless is-fullwidth">
  <thead>
    <tr class="has-text-weight-normal is-size-7">
      <th><%= Ship::ShipmentItem.human_attribute_name(:state) %></th>
      <th class="has-text-centered"><%= Ship::ShipmentItem.human_attribute_name(:item_type) %></th>
      <th class="has-text-centered">
        <p><%= Ship::ShipmentItem.human_attribute_name(:loaded_at) %></p>
        <p><%= Ship::ShipmentItem.human_attribute_name(:unloaded_at) %></p>
      </th>
    </tr>
  </thead>
  <%= render partial: 'shipment_item', collection: @shipment.shipment_items.limit(5), as: :model %>
</table>
