<th><%= Ship::ShipmentItem.human_attribute_name(:state) %></th>
<th><%= Ship::ShipmentItem.human_attribute_name(:status) %></th>
<th>
  <p><%= Ship::ShipmentItem.human_attribute_name(:package_id) %></p>
  <p><%= Ship::ShipmentItem.human_attribute_name(:box_id) %></p>
</th>
<th>
  <p class="text-success"><%= Ship::ShipmentItem.human_attribute_name(:loaded_at) %></p>
  <p class="text-danger"><%= Ship::ShipmentItem.human_attribute_name(:unloaded_at) %></p>
</th>
