<tr>
  <td class="has-text-right"><%= Ship::BoxHold.human_attribute_name(:user_id) %></td>
  <td><%= @box_hold.user_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::BoxHold.human_attribute_name(:member_id) %></td>
  <td><%= @box_hold.member_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::BoxHold.human_attribute_name(:member_organ_id) %></td>
  <td><%= @box_hold.member_organ_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::BoxHold.human_attribute_name(:boxes_count) %></td>
  <td><%= @box_hold.boxes_count %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::BoxHold.human_attribute_name(:buyable) %></td>
  <td><%= @box_hold.buyable %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::BoxHold.human_attribute_name(:sellable) %></td>
  <td><%= @box_hold.sellable %></td>
</tr>
