<div>
  <dt><%= Ship::BoxHold.human_attribute_name(:user_id) %></dt>
  <dd><%= @box_hold.user_id %></dd>
</div>
<div>
  <dt><%= Ship::BoxHold.human_attribute_name(:member_id) %></dt>
  <dd><%= @box_hold.member_id %></dd>
</div>
<div>
  <dt><%= Ship::BoxHold.human_attribute_name(:member_organ_id) %></dt>
  <dd><%= @box_hold.member_organ_id %></dd>
</div>
<div>
  <dt><%= Ship::BoxHold.human_attribute_name(:boxes_count) %></dt>
  <dd><%= @box_hold.boxes_count %></dd>
</div>
<div>
  <dt><%= Ship::BoxHold.human_attribute_name(:buyable) %></dt>
  <dd><%= @box_hold.buyable %></dd>
</div>
<div>
  <dt><%= Ship::BoxHold.human_attribute_name(:sellable) %></dt>
  <dd><%= @box_hold.sellable %></dd>
</div>
