<%= link_to({ controller: 'packages', action: 'address', address_id: model.id }, class: 'cell') do %>
  <i class="fa-regular fa-box"></i>
  <span><%= t('ship.admin.packages.index.title') %></span>
<% end %>
<%= link_to({ action: 'show', id: model.id }, class: 'cell') do %>
  <i class="fa-solid fa-circle-info"></i>
  <span><%= t('.show.title') %></span>
<% end %>
<%= button_to({ action: 'edit', id: model.id }, class: 'cell') do %>
  <i class="fa-solid fa-pencil"></i>
  <span><%= t('.edit.title') %></span>
<% end %>
