<div>
  <dt><%= Profiled::Address.human_attribute_name(:contact_person) %></dt>
  <dd><%= @address.contact_person %></dd>
</div>
<div>
  <dt><%= Profiled::Address.human_attribute_name(:tel) %></dt>
  <dd><%= @address.tel %></dd>
</div>
<div>
  <dt><%= Profiled::Address.human_attribute_name(:post_code) %></dt>
  <dd><%= @address.post_code %></dd>
</div>
<div>
  <dt><%= Profiled::Address.human_attribute_name(:area_id) %></dt>
  <dd><%= @address.area_id %></dd>
</div>
<div>
  <dt><%= Profiled::Address.human_attribute_name(:detail) %></dt>
  <dd><%= @address.detail %></dd>
</div>
