
<table class="ui table">
  <thead>
    <tr>
      <th><%= Address.human_attribute_name(:contact) %></th>
      <th><%= Address.human_attribute_name(:tel) %></th>
      <th><%= Address.human_attribute_name(:area_id) %></th>
      <th><%= Address.human_attribute_name(:detail) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @addresses.each do |address| %>
    <tr id="address_<%= address.id %>">
      <td><%= address.contact %></td>
      <td><%= address.tel %></td>
      <td><%= address.area.full_name %></td>
      <td><%= address.detail %></td>
      <td>
        <%= link_to admin_address_path(address), data: { tooltip: t('.show') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to admin_trade_items_path(address_id: address.id), data: { tooltip: t('.show') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-dolly"></i>
        <% end %>
        <%= link_to edit_admin_address_path(address), remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

