<div>
  <dt><%= Ship::Box.human_attribute_name(:id) %></dt>
  <dd><%= @box.id %></dd>
</div>
<div>
  <dt><%= Ship::Box.human_attribute_name(:code) %></dt>
  <dd><%= @box.code %></dd>
</div>
<div>
  <dt><%= Ship::Box.human_attribute_name(:box_specification_id) %></dt>
  <dd><%= @box.box_specification_id %></dd>
</div>
<div>
  <dt><%= Ship::Box.human_attribute_name(:status) %></dt>
  <dd><%= @box.status_i18n %></dd>
</div>
<div>
  <dt><%= Ship::Box.human_attribute_name(:enter_url) %></dt>
  <dt><%= image_tag @box.qrcode_enter_url %></dd>
</div>
