<tr>
  <td class="has-text-right"><%= Trade::TradeItem.human_attribute_name(:good_id) %></td>
  <td><%= @trade_item.good_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::TradeItem.human_attribute_name(:number) %></td>
  <td><%= @trade_item.number %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::TradeItem.human_attribute_name(:status) %></td>
  <td><%= @trade_item.status %></td>
</tr>
