<%= render 'filter' %>

<table class="table is-hoverable is-fullwidth" data-controller="check">
  <thead>
    <tr>
      <th>
        <%= check_box_tag 'xxd', 'xx', false, data: { action: 'check#toggleAll' } %>
        <%= link_to package_admin_address_trade_items_path(@address), aria: { label: t('.package'), action: 'check#applyFor' }, method: :post, remote: true, class: 'ui mini button' do %>
          <i class="fas fa-hand-holding-usd"></i>
        <% end %>
      </th>
      <th><%= TradeItem.human_attribute_name(:good_id) %></th>
      <th><%= TradeItem.human_attribute_name(:number) %></th>
      <th><%= TradeItem.human_attribute_name('trade/user_id') %></th>
      <th><%= TradeItem.human_attribute_name(:produce_plan_id) %></th>
      <th><%= TradeItem.human_attribute_name(:status) %></th>
      <th>
        <%= link_to new_admin_trade_item_path, remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @trade_items.each do |trade_item| %>
    <tr>
      <td>
        <%= check_box_tag 'xx', trade_item.id, false, data: { action: 'check#toggle' } %>
      </td>
      <td><%= trade_item.good_id %></td>
      <td><%= trade_item.number %></td>
      <td><%= trade_item.trade.user_id %></td>
      <td><%= trade_item.produce_plan&.title %></td>
      <td><%= trade_item.status %></td>
      <td>
        <%= link_to admin_trade_item_path(trade_item), aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_admin_trade_item_path(trade_item), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_trade_item_path(trade_item), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @trade_items %>
