<tr>
  <td class="has-text-right"><%= Ship::Car.human_attribute_name(:location) %></td>
  <td><%= @car.location %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::Car.human_attribute_name(:number) %></td>
  <td><%= @car.number %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::Car.human_attribute_name(:detail) %></td>
  <td><%= simple_format @car.detail %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::Car.human_attribute_name(:registration) %></td>
  <td><%= image_tag @car.registration, class: 'image is-64x64' if @car.registration.attached? %></td>
</tr>
