<%= content_for(:wechat_js) do %>
  <%= wechat_config_js debug: false, apis: ['chooseImage', 'previewImage', 'uploadImage'] -%>
  <meta name="turbo-visit-control" content="reload">
<% end %>

<div class="weui-uploader">
  <div class="weui-uploader__hd">
    <h1 class="weui-uploader__title">上传行驶证</h1>
    <div class="weui-uploader__info">0/2</div>
  </div>
  <div class="weui-uploader__bd">
    <div class="weui-uploader__input-box" data-controller="wechat" style="width: 100%; height: 300px">
      <%= image_pack_tag 'registration.jpg', data: { wechat_target: 'preview' } %>
      <div class="weui-uploader__input" data-action="click->wechat#chooseImage"></div>
      <%= form_with theme: nil, model: @car, url: { action: 'create' } do |f| %>
        <%= f.hidden_field :media_id, data: { wechat_target: 'media' } %>
      <% end %>
    </div>
  </div>
</div>


<%= turbo_stream_from 'car_new' %>
