<div class="weui-uploader p-4">
  <div class="weui-uploader__hd">
    <h1 class="weui-uploader__title">上传行驶证</h1>
    <div class="weui-uploader__info"></div>
  </div>
  <div class="weui-uploader__bd">
    <div class="weui-uploader__input-box"
         data-controller="wechat"
         data-wechat-apis-value="<%= ['chooseImage', 'previewImage', 'uploadImage'].to_json %>"
         data-wechat-options-value="<%= current_wechat_app.js_config(request.original_url).to_json %>">
      <%= image_tag 'registration.jpg', data: { wechat_target: 'preview' }, class: 'weui-uploader__preview' %>
      <div class="weui-uploader__input" data-action="click->wechat#chooseImage"></div>
      <%= form_with theme: nil, model: Wechat::Media.new, url: { controller: 'wechat/my/medias', action: 'create' } do |f| %>
        <%= f.hidden_field :source_type, value: @car.class_name %>
        <%= f.hidden_field :attachment_name, value: 'registration' %>
        <%= f.hidden_field :media_id, data: { wechat_target: 'media' } %>
      <% end %>
    </div>
  </div>
</div>

<%= turbo_stream_from 'car_new' %>
<div id="car_update"></div>
