<td><%= model.name %></td>
<td><%= model.width %></td>
<td><%= model.length %></td>
<td><%= model.height %></td>
<td>
  <div class="is-flex is-justify-content-center">
    <%= render partial: 'cart', locals: { model: model } %>
  </div>
</td>
