<div class="buttons are-large is-centered">
<% current_user.organs.where.not(id: @box.organ_id).each do |organ| %>
  <%= button_to({ action: 'in_update' }, params: { organ_id: organ.id }, class: 'button is-warning') do %>
    <span>入（移）库至<%= organ.name %></span>
  <% end %>
<% end %>
</div>
<div
  data-controller="scan"
  data-scan-debug-value="false"
  data-scan-apis-value="<%= ['scanQRCode'].to_json %>"
  data-scan-options-value="<%= current_js_app&.js_config(request.original_url).to_json %>"
  data-scan-params-value="<%= { organ_id: @box.organ_id }.to_json %>"
>
  <div class="buttons are-large is-centered">
  <% if current_user.organ_ids.include?(@box.organ_id) %>
    <button
      class="button is-info"
      data-action="scan#report"
      data-report-url="<%= url_for(controller: 'ship/boxes', action: 'in_create') %>"
    >
      <span>继续入库至<%= @box.organ.name %></span>
    </button>
  <% end %>
  </div>
</div>
