<tr>
  <td><%= Rally.human_attribute_name(:name) %></td>
  <td><%= @rally.name %></td>
</tr>
<tr>
  <td><%= Rally.human_attribute_name(:detail) %></td>
  <td><%= @rally.detail %></td>
</tr>
<tr>
  <td><%= Rally.human_attribute_name(:area_id) %></td>
  <td><%= @rally.area_id %></td>
</tr>
