<div>
  <dt><%= Rally.human_attribute_name(:name) %></dt>
  <dd><%= @rally.name %></dd>
</div>
<div>
  <dt><%= Rally.human_attribute_name(:detail) %></dt>
  <dd><%= @rally.detail %></dd>
</div>
<div>
  <dt><%= Rally.human_attribute_name(:area_id) %></dt>
  <dd><%= @rally.area_id %></dd>
</div>
