<div class="box is-padding-less mx-3">
  <div class="box-header">收货点</div>
  <div class="weui-panel__bd">
    <% @rallies.each do |rally| %>
    <div class="media">
      <div class="media-content">
        <h6 class="weui-media-box__title">
          <%= link_to rally.name, my_rally_path(rally) %>
        </h6>
        <div class="weui-media-box__desc"><%= rally.area.full_name %><%= rally.detail %></div>
      </div>
      <div class="media-right">
        <div class="weui-btn weui-btn_default">
          <%= link_to '召集', my_rally_url(rally.id) %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="weui-panel__ft">
    <%= link_to new_my_rally_path, class: 'media' do %>
      <div class="media-content"><%= t('.new.title') %></div>
      <div class="media-right">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    <% end %>
  </div>
</div>
