<div>
  <dt><%= Ship::Driver.human_attribute_name(:name) %></dt>
  <dd><%= @driver.name %></dd>
</div>
<div>
  <dt><%= Ship::Driver.human_attribute_name(:number) %></dt>
  <dd><%= @driver.number %></dd>
</div>
<div>
  <dt><%= Ship::Driver.human_attribute_name(:license) %></dt>
  <dd><%= @driver.license %></dd>
</div>
