<tr>
  <td class="has-text-right"><%= Ship::Driver.human_attribute_name(:name) %></td>
  <td><%= @driver.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::Driver.human_attribute_name(:number) %></td>
  <td><%= @driver.number %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::Driver.human_attribute_name(:license) %></td>
  <td><%= @driver.license %></td>
</tr>
