<%= content_for(:wechat_js) do %>
  <%= wechat_config_js debug: false, apis: ['chooseImage', 'previewImage', 'uploadImage'] -%>
  <meta name="turbo-visit-control" content="reload">
<% end %>

<div class="weui-uploader">
  <div class="weui-uploader__hd">
    <div class="weui-uploader__title">驾驶证</div>
  </div>
  <div class="weui-uploader__bd">
    <div class="weui-uploader__input-box" data-controller="wechat" style="width: 100%; height: 300px">
      <%= image_pack_tag 'registration.jpg', data: { wechat_target: 'preview' } %>
      <div class="weui-uploader__input" data-action="click->wechat#chooseImage"></div>
      <%= form_with theme: nil, model: Wechat::Media.new, url: { controller: 'wechat/my/medias', action: 'create' } do |f| %>
        <%= f.hidden_field :source_type, value: @driver.class_name %>
        <%= f.hidden_field :source_id, value: @driver.id %>
        <%= f.hidden_field :attachment_name, value: 'license' %>
        <%= f.hidden_field :media_id, data: { wechat_target: 'media' } %>
      <% end %>
    </div>
  </div>
</div>
