<div class="weui-panel">
  <div class="weui-panel__hd level is-flex">
    <div class="level-left">
      <span class="level-item"><%= t('.title') %></span>
    </div>
    <div class="level-right mt-0">
      <%= link_to({ action: 'show' }, class: 'weui-btn weui-btn_mini weui-btn_default level-item') do %>
        <span><%= t('.show') %></span>
      <% end %>
    </div>
  </div>
  <div class="weui-panel__bd">
    <%= render 'uploader' %>
  </div>
</div>

<%= turbo_stream_from 'car_new' %>
<div id="car_update"></div>
