<div class="box is-padding-less">
  <div class="box-header level is-mobile">
    <div class="level-left">
      <span class="level-item"><%= t('.title') %></span>
    </div>
    <div class="level-right mt-0">
      <%= link_to({ action: 'show' }, class: 'weui-btn weui-btn_mini weui-btn_default level-item') do %>
        <span><%= t('.show.title') %></span>
      <% end %>
    </div>
  </div>
  <div class="weui-panel__bd">
    <%= render 'uploader' %>
  </div>
</div>

<%= render partial: 'edit_form', locals: { driver: @driver } %>

<%= turbo_stream_from 'driver_edit' %>
<div id="driver_update"></div>
