<div class="box is-padding-less mx-3">
  <div class="box-header level is-mobile">
    <div class="level-left">
      <span class="level-item"><%= t('.title') %></span>
    </div>
    <div class="level-right mt-0">
      <%= link_to({ action: 'edit' }, class: 'weui-btn weui-btn_mini weui-btn_default level-item') do %>
        <span><%= t('.edit.title') %></span>
      <% end %>
    </div>
  </div>
  <div class="weui-panel__bd">
  <% if @driver.license.attached? %>
    <%= image_tag @driver.license.url, class: 'image' %>
  <% else %>
    <%= render 'uploader' %>
  <% end %>
    <div class="weui-form-preview">
      <div class="weui-form-preview__bd">
        <div class="weui-form-preview__item">
          <div class="weui-form-preview__label"><%= Ship::Driver.human_attribute_name(:name) %></div>
          <div class="weui-form-preview__value"><%= @driver.name %></div>
        </div>
        <div class="weui-form-preview__item">
          <div class="weui-form-preview__label"><%= Ship::Driver.human_attribute_name(:number) %></div>
          <div class="weui-form-preview__value"><%= @driver.number %></div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= turbo_stream_from 'driver_edit' %>
<div id="driver_update"></div>
