<tr>
  <td class="has-text-right"><%= Trade::Rent.human_attribute_name(:start_at) %></td>
  <td><%= @rent.start_at %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Rent.human_attribute_name(:finish_at) %></td>
  <td><%= @rent.finish_at %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Rent.human_attribute_name(:estimate_finish_at) %></td>
  <td><%= @rent.estimate_finish_at %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Rent.human_attribute_name(:duration) %></td>
  <td><%= @rent.duration %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Rent.human_attribute_name(:user_id) %></td>
  <td><%= @rent.user_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Rent.human_attribute_name(:member_id) %></td>
  <td><%= @rent.member_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Rent.human_attribute_name(:member_organ_id) %></td>
  <td><%= @rent.member_organ_id %></td>
</tr>
