<div>
  <dt><%= Trade::Rent.human_attribute_name(:start_at) %></dt>
  <dd><%= @rent.start_at %></dd>
</div>
<div>
  <dt><%= Trade::Rent.human_attribute_name(:finish_at) %></dt>
  <dd><%= @rent.finish_at %></dd>
</div>
<div>
  <dt><%= Trade::Rent.human_attribute_name(:estimate_finish_at) %></dt>
  <dd><%= @rent.estimate_finish_at %></dd>
</div>
<div>
  <dt><%= Trade::Rent.human_attribute_name(:duration) %></dt>
  <dd><%= @rent.duration %></dd>
</div>
<div>
  <dt><%= Trade::Rent.human_attribute_name(:user_id) %></dt>
  <dd><%= @rent.user_id %></dd>
</div>
<div>
  <dt><%= Trade::Rent.human_attribute_name(:member_id) %></dt>
  <dd><%= @rent.member_id %></dd>
</div>
<div>
  <dt><%= Trade::Rent.human_attribute_name(:member_organ_id) %></dt>
  <dd><%= @rent.member_organ_id %></dd>
</div>
