<div class="weui-form-preview">
  <div class="weui-form-preview__bd">
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Ship::Box.human_attribute_name(:box_specification_id) %></label>
      <span class="weui-form-preview__value">
        <span><%= @box.box_specification.measure %></span>
        <span class="tag"><%= @box.box_specification.name %></span>
      </span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Ship::Box.human_attribute_name(:code) %></label>
      <span class="weui-form-preview__value"><%= @box.code %></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Ship::Box.human_attribute_name(:rents_count) %></label>
      <span class="weui-form-preview__value"><%= @box.rents_count %></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">出租收益</label>
      <span class="weui-form-preview__value"><%= @box.rents.sum(:amount).to_money.format.html_safe %></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">当前收益率</label>
      <span class="weui-form-preview__value"><%= (@box.box_specification.invest_ratio * 100).to_fs(:percentage, precision: 0) %></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">分成金额</label>
      <span class="weui-form-preview__value has-text-danger"><%= @box.rents.sum(:invest_amount).to_money.format.html_safe %></span>
    </div>
  </div>
</div>
