<div class="weui-form-preview">
  <div class="weui-form-preview__bd">
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Ship::Box.human_attribute_name(:box_specification_id) %></label>
      <span class="weui-form-preview__value"><%= @box.box_specification.measure %></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Ship::Box.human_attribute_name(:code) %></label>
      <span class="weui-form-preview__value"><%= @box.code %></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Ship::Box.human_attribute_name(:status) %></label>
      <span class="weui-form-preview__value"><%= @box.status_i18n %></span>
    </div>
    <% if @box.trade_item %>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Ship::Box.human_attribute_name(:trade_item_id) %></label>
      <span class="weui-form-preview__value">
        <time data-controller="time" data-format="yyyy-MM-dd HH:mm:ss"><%= @box.trade_item.created_at.to_fs(:iso8601) %></time>
      </span>
    </div>
    <% end %>
  </div>
</div>
