<table class="table is-striped is-borderless is-fullwidth">
  <thead>
    <tr class="has-text-weight-normal size-7">
      <th>
        <p><%= Trade::Rent.human_attribute_name(:start_at) %></p>
        <p><%= Trade::Rent.human_attribute_name(:finish_at) %></p>
      </th>
      <th>
        <p><%= Trade::Rent.human_attribute_name(:duration) %></p>
        <p><%= Trade::Rent.human_attribute_name(:amount) %></p>
      </th>
      <th><%= Trade::Rent.human_attribute_name(:invest_amount) %></th>
    </tr>
  </thead>
  <%= render partial: 'rent', collection: @box.rents.order(id: :desc), as: :model %>
</table>
