<td>
  <p><%= model.package_name %></p>
  <p><%= model.package_number %></p>
  <p class="has-text-grey"><%= model.package_kind %></p>
</td>
<td>
  <p><%= model.weight %></p>
  <p><%= model.weight_unit_i18n %></p>
</td>
<td>
  <p><%= model.volume %></p>
  <p><%= model.volume_unit_i18n %></p>
</td>
<td><%= model.price %></td>
<td>
  <p><%= model.settle_ratio %></p>
  <p><%= model.settle_kind_i18n %></p>
  <p><%= model.settle_period_i18n %></p>
</td>
