<td>
  <span><%= model.good_name %></span>
  <span class="has-text-grey">（<%= model.number %>）</span>
</td>
<td>
  <p class="has-text-success"><%= model.from_station&.name %></p>
  <p class="has-text-danger"><%= model.station&.name %></p>
</td>
<td>
  <p class="has-text-success">
  <% if model.from_address %>
    <span><%= model.from_address.area.full_name %></span>
    <span><%= model.from_address.detail %></span>
  <% end %>
  </p>
  <p class="has-text-danger">
    <span><%= model.address.area.full_name %></span>
    <span><%= model.address.detail %></span>
  </p>
</td>
<td><%= model.produce_plan&.title %></td>
<td><%= model.status_i18n %></td>
