<th><%= Ship::Package.human_attribute_name(:state) %></th>
<th>
  <p><%= Ship::Package.human_attribute_name(:box_id) %></p>
  <p class="color-info-dark"><%= Ship::Package.human_attribute_name(:boxed_in_at) %></p>
  <p class="has-text-warning-dark"><%= Ship::Package.human_attribute_name(:boxed_out_at) %></p>
</th>
<th><%= Ship::Package.human_attribute_name(:packageds_count) %></th>
<th>
  <p><%= Ship::Package.human_attribute_name(:expected_on) %></p>
  <p class="color-grey"><%= Ship::Package.human_attribute_name(:created_at) %></p>
</th>
