<%= link_to({ action: 'show', id: model.id }, class: 'cell') do %>
  <i class="fa-solid fa-circle-info"></i>
  <span><%= t('.show.title') %></span>
<% end %>
<%= link_to({ action: 'shipments', id: model.id }, class: 'cell') do %>
  <i class="fa-regular fa-list"></i>
  <span><%= t('ship.admin.stations.shipments.title') %></span>
<% end %>
<%= link_to({ action: 'lines', id: model.id }, class: 'cell') do %>
  <i class="fa-regular fa-signs-post"></i>
  <span><%= t('ship.admin.stations.lines.title') %></span>
<% end %>
