<div>
  <dt><%= Ship::BoxSell.human_attribute_name(:state) %></dt>
  <dd><%= @box_sell.state_i18n %></dd>
</div>
<div>
  <dt><%= Ship::BoxSell.human_attribute_name(:price) %></dt>
  <dd><%= @box_sell.price.to_money.format.html_safe %></dd>
</div>
<div>
  <dt><%= Ship::BoxSell.human_attribute_name(:amount) %></dt>
  <dd><%= @box_sell.amount %></dd>
</div>
<div>
  <dt><%= Ship::BoxSell.human_attribute_name(:done_amount) %></dt>
  <dd><%= @box_sell.done_amount %></dd>
</div>
<div>
  <dt><%= Ship::BoxSell.human_attribute_name(:rest_amount) %></dt>
  <dd><%= @box_sell.rest_amount %></dd>
</div>
