<tr>
  <td class="has-text-right"><%= Ship::BoxSell.human_attribute_name(:state) %></td>
  <td><%= @box_sell.state_i18n %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::BoxSell.human_attribute_name(:price) %></td>
  <td><%= @box_sell.price.to_money.format.html_safe %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::BoxSell.human_attribute_name(:amount) %></td>
  <td><%= @box_sell.amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::BoxSell.human_attribute_name(:done_amount) %></td>
  <td><%= @box_sell.done_amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::BoxSell.human_attribute_name(:rest_amount) %></td>
  <td><%= @box_sell.rest_amount %></td>
</tr>
