<tr>
  <td class="has-text-right"><%= BoxSell.human_attribute_name(:price) %></td>
  <td><%= @box_sell.price %></td>
</tr>
<tr>
  <td class="has-text-right"><%= BoxSell.human_attribute_name(:amount) %></td>
  <td><%= @box_sell.amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= BoxSell.human_attribute_name(:box_specification_id) %></td>
  <td><%= @box_sell.box_specification_id %></td>
</tr>
