<td>
  <span><%= model.good_name %></span>
  <span class="has-text-grey">（<%= model.number %>）</span>
</td>
<td>
  <span><%= model.address.area.full_name %></span>
  <span><%= model.address.detail %></span>
</td>
<td><%= model.produce_plan&.title %></td>
<td><%= model.status_i18n %></td>
