<th><%= Ship::Box.human_attribute_name(:code) %></th>
<th>
  <p><%= Ship::Box.human_attribute_name(:box_specification_id) %></p>
</th>
<th><%= Ship::Box.human_attribute_name(:status) %></th>
<th>
  <p><%= Ship::Box.human_attribute_name(:trade_item_id) %></p>
  <p><%= Trade::TradeItem.human_attribute_name(:aim) %></p>
</th>
<th><%= Ship::Box.human_attribute_name(:created_at) %></th>
