<th><%= Ship::BoxSpecification.human_attribute_name(:name) %></th>
<th>
  <span><%= Ship::BoxSpecification.human_attribute_name(:width) %></span>
  <span class="has-text-grey">*</span>
  <span><%= Ship::BoxSpecification.human_attribute_name(:length) %></span>
  <span class="has-text-grey">*</span>
  <span><%= Ship::BoxSpecification.human_attribute_name(:height) %></span>
</th>
<th><%= Ship::BoxSpecification.human_attribute_name(:price) %></th>
