<% if rails_role_user.any_role?('ship/admin') %>
<div class="item">
  <a class="<%= active_helper(controllers: ['areas'], active_class: 'title active', item_class: 'title') %>">
    <i class="fas fa-truck fa-fw"></i>
    <span><%= t('ship.admin.title') %></span>
    <i class="dropdown icon"></i>
  </a>
  <div class="<%= active_helper(controllers: ['addresses', 'packages'], active_class: 'menu content active', item_class: 'menu content') %>">
    <%= link_to t('ship.admin.addresses.index.title'), admin_addresses_path, class: active_helper(controllers: 'addresses') %>
    <%= link_to t('ship.admin.packages.index.title'), admin_packages_path, class: active_helper(controllers: 'packages') %>
  </div>
</div>
<% end %>
