<th>
  <p><%= Ship::BoxSpecification.human_attribute_name(:name) %></p>
  <p class="text-grey"><%= Ship::BoxSpecification.human_attribute_name(:organ_id) %></p>
</th>
<th>
  <span><%= Ship::BoxSpecification.human_attribute_name(:width) %></span>
  <span class="text-grey">*</span>
  <span><%= Ship::BoxSpecification.human_attribute_name(:length) %></span>
  <span class="text-grey">*</span>
  <span><%= Ship::BoxSpecification.human_attribute_name(:height) %></span>
</th>
<th><%= Ship::BoxHost.human_attribute_name(:price) %></th>
<th class="text-centered">买入</th>
