<div class="menu-list">
  <%= link_to({ controller: 'ship/panel/home' }, text: true, data: { turbo_frame: 'body', action: 'menu#enter' }, class: 'menu-item') do %>
    <div>
      <i class="fa-solid fa-fw fa-truck"></i>
      <span><%= t('ship.panel.title') %></span>
    </div>
  <% end %>
  <div class="pl-4">
    <%= link_to t('ship.panel.lines.index.title'), { controller: 'ship/panel/lines' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: ['lines', 'similars'], item: 'menu-item', active: 'menu-item is-active') %>
    <%= link_to t('ship.panel.stations.index.title'), { controller: 'ship/panel/stations' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: ['stations'], item: 'menu-item', active: 'menu-item is-active') %>
    <%= link_to t('ship.panel.box_specifications.index.title'), { controller: 'ship/panel/box_specifications' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: ['box_specifications', 'boxes'], item: 'menu-item', active: 'menu-item is-active') %>
  </div>
</div>
