<div class="<%= active_helper(modules: 'ship/panel', active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu empty">
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-solid fa-fw fa-truck"></i>
    <span><%= t('ship.panel.title') %></span>
    <i class="fa-solid dropdown"></i>
  </a>
  <div class="menu-list" data-empty-traget="content">
    <%= link_to t('ship.panel.lines.index.title'), { controller: 'ship/panel/lines' }, class: active_helper(controllers: ['lines', 'similars'], active: 'is-active') %>
    <%= link_to t('ship.panel.stations.index.title'), { controller: 'ship/panel/stations' }, class: active_helper(controllers: ['stations'], active: 'is-active') %>
    <%= link_to t('ship.panel.box_specifications.index.title'), { controller: 'ship/panel/box_specifications' }, class: active_helper(controllers: ['box_specifications', 'boxes'], active: 'is-active') %>
  </div>
</div>
