<tr id="tr_<%= model.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <%= yield %>
  <td>
    <div data-show-target="item" class="visibility-hidden">
      <%= link_to({ action: 'stations', id: model.id }, aria: { label: t('ship.admin.shipments.stations.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-location-dot"></i>
      <% end %>
      <%= link_to({ controller: 'shipment_items', shipment_id: model.id }, aria: { label: t('ship.admin.shipment_items.index.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-regular fa-list-check"></i>
      <% end %>
      <%= button_to({ controller: 'ship/admin/shipments', action: 'leave', line_id: model.line_id, station_id: @station.id, id: model.id }, form: { data: { turbo_confirm: t('.confirm') }, class: 'cell' }) do %>
        <i class="fa-solid fa-play has-text-danger"></i>
        <span class="has-text-danger"><%= t('ship.admin.shipments.leave.title') %></span>
      <% end #if model.line_stations.pluck(:station_id).last.to_s != params[:station_id] && ['left'].exclude?(model.state) %>
      <%= button_to({ controller: 'ship/admin/shipments', action: 'arrive', line_id: model.line_id, station_id: @station.id, id: model.id }, form: { data: { turbo_confirm: t('.confirm') }, class: 'weui-actionsheet__cell' }) do %>
        <i class="fa-solid fa-stop has-text-success"></i>
        <span class="has-text-success"><%= t('ship.admin.shipments.arrive.title') %></span>
      <% end if model.state == 'left' %>
      <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-circle-info has-text-info"></i>
      <% end %>
      <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-pencil has-text-link"></i>
      <% end if model.organ_id == current_organ.id %>
      <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-rounded is-light', form: { data: { turbo_confirm: t('.confirm') } }) do %>
        <i class="fa-solid fa-trash has-text-danger"></i>
      <% end if model.organ_id == current_organ.id %>
    </div>
  </td>
</tr>
