<p>
  <strong><%= model.line.origin_name %></strong>
  <span class="tag"><%= model.load_on %></span>
</p>
<p class="mt-1">
  <span class="">
    <span class="pr-1"><%= model.state_i18n %></span>
    <% if model.state == 'arrived' %>
      <time data-controller="time"><%= model.arrived_at&.to_fs(:iso8601) %></time>
    <% elsif model.state == 'left' %>
      <time data-controller="time"><%= model.left_at&.to_fs(:iso8601) %></time>
    <% end %>
  </span>
  <span class="tag ml-4">
    <i class="fa-solid fa-list"></i>
    <span class="pl-1"><%= model.shipment_items_count %></span>
  </span>
</p>
<p class="is-flex is-align-items-center mt-1">
  <span>
    <i class="fa-solid fa-car"></i>
    <span class="pl-1"><%= model.car.number %></span>
  </span>
  <span class="tag is-light ml-4">
    <i class="fa-solid fa-user"></i>
    <span class="pl-1"><%= model.driver.name %></span>
  </span>
</p>
