<td>
  <p><%= model.line.name %></p>
  <p><%= model.load_on %></p>
</td>
<td>
  <p><%= model.car.number %></p>
  <p><%= model.driver.name %></p>
</td>
<td>
  <% if model.current_line_station&.station_id == @station.id %>
    <p class="has-text-success"><%= model.current_line_station.station.name if model.current_line_station %></p>
  <% else %>
    <p><%= model.current_line_station.station.name if model.current_line_station %></p>
  <% end %>
  <p><span class="tag"><%= model.state_i18n %></span></p>
</td>
<td>
  <p><time data-controller="time"><%= model.left_at&.to_fs(:iso8601) %></time></p>
  <p><time data-controller="time"><%= model.arrived_at&.to_fs(:iso8601) %></time></p>
</td>
