<tr id="tr_<%= location.position %>">
  <td class="has-text-right"><%= location.position_text %></td>
  <td>
    <%= button_to({ action: 'select', index: location.position.to_i - 1 }, form_class: 'button_box') do %>
      <span id="<%= location.position.to_i - 1 %>_name"><%= location.station.poiname %></span>
    <% end %>
  </td>
  <td style="width: 5em">
    <%= button_to({ action: 'add', position: location.position }, class: 'button is-white') do %>
      <i class="fa-solid fa-lg fa-plus"></i>
    <% end %>
  </td>
</tr>
