<tr id="tr_<%= location.position %>">
  <td class="has-text-right"><%= location.position_text %></td>
  <td>
    <%= button_to({ action: 'select', index: location.position - 1 }, form_class: 'button_box') do %>
      <span id="<%= location.position - 1 %>_name"><%= location.poiname %></span>
    <% end %>
  </td>
  <td style="width: 5em">
    <button class="button is-white" data-controller="former" data-former-id-value="new_line" data-former-url-value="<%= url_for({ action: 'add', position: location.position }) %>" data-action="former#submit">
      <i class="fa-solid fa-lg fa-plus"></i>
    </button>
  </td>
</tr>
