<tr id="tr_<%= location.position %>">
  <td class="has-text-right"><%= location.position %></td>
  <td>
    <span id="<%= location.position %>_name"><%= location.position %></span>
    <%= button_to({ action: 'select', position: location.position }) do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= button_to({ action: 'add', position: location.position }) do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </td>
</tr>
