<tr id="tr_<%= location.position %>">
  <td class="has-text-right"><%= location.position %></td>
  <td>
    <%= button_to({ action: 'select', position: location.position }, form_class: 'button_box') do %>
      <span id="<%= location.position %>_name"></span>
    <% end %>
  </td>
  <td>
    <%= button_to({ action: 'add', position: location.position }) do %>
      <i class="fas fa-plus fa-lg"></i>
    <% end %>
  </td>
</tr>
