<%= link_to({ controller: 'ship/dri/favorites' }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd">
    <i class="fa-solid fa-fw fa-users"></i>
    <span><%= t('ship.dri.favorites.index.title') %></span>
  </div>
  <div class="weui-cell__ft"></div>
<% end if current_user.driver %>
<%= link_to({ controller: 'ship/my/lines', action: 'requirement' }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd">
    <i class="fa-solid fa-fw fa-paper-plane"></i>
    <span><%= t('ship.my.lines.requirement.title') %></span>
  </div>
  <div class="weui-cell__ft"></div>
<% end %>
<%= link_to({ controller: 'ship/my/cars' }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd">
    <i class="fa-solid fa-fw fa-car"></i>
    <span><%= t('ship.my.cars.index.title') %></span>
  </div>
  <div class="weui-cell__ft"></div>
<% end %>
<%= link_to({ controller: 'ship/my/drivers', action: 'show' }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd">
    <i class="fa-solid fa-fw fa-id-card"></i>
    <span><%= t('ship.my.drivers.show.title') %></span>
  </div>
  <div class="weui-cell__ft"></div>
<% end %>
