<div class="weui-panel" data-controller="empty">
  <div class="weui-panel__hd">司机</div>
  <div class="weui-panel__bd">
    <div class="columns is-4-mobile is-flex is-vcentered is-centered m-0" data-empty-target="content">
      <%= link_to({ controller: 'ship/dri/favorites' }, class: 'column has-block-centered') do %>
        <div class="has-text-grey-dark">
          <i class="fa-solid fa-fw fa-xl fa-users"></i>
        </div>
        <div class="has-text-dark">
          <span><%= t('ship.dri.favorites.index.title') %></span>
        </div>
      <% end if current_user.driver %>
      <%= link_to({ controller: 'ship/my/lines', action: 'requirement' }, class: 'column has-block-centered') do %>
        <div class="has-text-grey-dark">
          <i class="fa-solid fa-fw fa-xl fa-paper-plane"></i>
        </div>
        <div class="has-text-dark">
          <span><%= t('ship.my.lines.requirement.title') %></span>
        </div>
      <% end %>
      <%= link_to({ controller: 'ship/my/cars' }, class: 'column has-block-centered') do %>
        <div class="has-text-grey-dark">
          <i class="fa-solid fa-fw fa-xl fa-car"></i>
        </div>
        <div class="has-text-dark">
          <span><%= t('ship.my.cars.index.title') %></span>
        </div>
      <% end %>
      <%= link_to({ controller: 'ship/my/drivers', action: 'show' }, class: 'column has-block-centered') do %>
        <div class="has-text-grey-dark">
          <i class="fa-solid fa-fw fa-xl fa-id-card"></i>
        </div>
        <div class="has-text-dark">
          <span><%= t('ship.my.drivers.show.title') %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
