<div>
  <dt><%= Trade::Item.human_attribute_name(:single_price) %></dt>
  <dd><%= @item.single_price.to_money.format.html_safe %></dd>
</div>
<div>
  <dt><%= Trade::Item.human_attribute_name(:number) %></dt>
  <dd><%= @item.number %></dd>
</div>
<div>
  <dt><%= Trade::Item.human_attribute_name(:done_number) %></dt>
  <dd><%= @item.done_number %></dd>
</div>
<div>
  <dt><%= Trade::Item.human_attribute_name(:rest_number) %></dt>
  <dd><%= @item.rest_number %></dd>
</div>
<div>
  <dt><%= Trade::Item.human_attribute_name(:status) %></dt>
  <dd><%= @item.status_i18n %></dd>
</div>
